@media print {
html, body {
 overflow: visible;
}
.page-wrapper {
 overflow: visible;
 float: left;
}
.trans {opacity:1 !important;}
.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
 -ms-flex: inherit;
 flex: inherit;
 max-width: 100%;
 display: block !important
}
.hero-menu, .metaline, .main-menu, .slider-pager, .sliderbgbalken, .sidebar-icons,
.info-box, .ce-homesliderelement .headline h2 .section-name,
.section-name-Inner, .morelink,.content-block-marker, .bgbox,.tile-img,.morelinkItem,
.spotlightslider, .ce-offers .elements .ce-offer .col-img, .ce-newsletter,.news-img-wrap,.img.img-ce-text-media, .content-part.ctype-mugce_link_button.ce-link-button,
.img.img-ce-text-media-teaser, #footerMenu, .ce-linklist, .linktoall, .blend-full, .page-event-overview .breadcrumb-detailsite, .page-news .breadcrumb-detailsite,
.submenu-box, .sidebar-default,a:not([href]), .ce-header-slider .headline, .ce-homeslider .headline, .hoverimage-item .bg-darken
{
 display:none !important;
}
.ce-header-slider, .ce-homeslider {
 min-height: 1px !important;
 margin: 10px 0 0 0;
 height: 300px !important;
 overflow: hidden;
}
.content-block .container {
 width: 80%;
 max-width: inherit;
}
h1, .h1 {
 font-size: 28px;
 line-height: 34px;

}
h2, .h2, .h2-bigger {
 font-size: 25px;
 float: left;
 width: 100%;

}
h3, .h3 {
 font-size: 20px;
}
h4, .h4 {
 font-size: 16px;
}
.h2-bigger {
 font-size: 25px;
 line-height: 27px;
}
.content-part {
 margin-top: 30px;
}
.rowborder-bottom {
 border-bottom: 0px solid #000;
 padding-bottom: 0px;
}
.content-part-morespace {
 margin-top: 0px;
 margin-bottom: 0px;
}
.hover-part {
 position: relative;
 width: 100%;
 height: auto;
 float: left;
}
.hover-part-text {
 position: relative;
 color: #000000;

}
.hover-part-text .text {
 opacity: 1;
 display: block;
 left: 0px;
 position: relative;
 float: left;
 margin: 20px 30px 0 0;
}
.hover-part-text {
 left: 0;
}
.hoverimage-item {
 overflow: visible;
 margin: 30px 0 30px 0;
}
.tile-img {
 display: none !important;
}
.content-part.ce-link-tile .headline {
 display: block;
 width: 100%;
 margin: 0px 20px 0 0;
 border: 0px;
 float: left;
}
.col-md-9 {
 -ms-flex: 0 0 100%;
 flex: 0 0 100%;
 max-width: 100%;
}
.content-part-newsevents .news-list-view {
 float: left;
 width: 100%;
}
.content-part-newsevents .news-list-view .article-news {
 width: 90%;
 float: left;
 min-height: 20px;
 margin: 0 0 20px 0;
 margin-bottom: 51.05px !important;
}
.content-block-spotlight .events-list-view .article {
 margin: 0px 0 0 0%;
 float: left;
 width: 100%;
 color: #000;
}
.content-block-spotlight .events-list-view .article a {
 color: #000;
}
.content-block-spotlight .events-list-view .article .news-list-date {
 color: #000;
}
.content-block-spotlight .events-list-view {
 background: #fff;
 float: left;
 width: 100%;
}
.ce-quote .img.img-ce-text-media {
 width: 40%;
 height: auto;
 display: block !important;
 margin: 0 auto;
}
img.img-ce-text-media {
 display: block !important;
}
.img.img-ce-text-media-teaser {
 display: block !important;
}

.ce-text-media-teaser .col-7 {
 width: 20% !important;
 float:left;
 margin: 0 30px 0 0;
}

.content-block-ce-text-media-teaser .medialinks-box a.morelink {
display:block !important;
}


.ce-text-media-teaser .col-35 {
 width: 75% !important;
}

.ce-offers .ce-offer .headline {
 border-bottom: 0px solid #000;
 padding: 0px 0 0px 0;
 margin: 0px;
}
.ce-offers .elements .ce-offer .col-text {
 width: 75%;
}
.ce-offers .elements .ce-offer .col-img {
 display: block !important;
 float: left !important;
 width: 20%;
 margin: 0 30px 0 0;
}
.ce-offers .elements .ce-offer .col-img .col-text-inner, .ce-offers .elements .ce-offer .col-text .col-text-inner {
 width: 100%;
 float: left;
 margin: 0 0 0 0%;
}
.text-center {
 text-align: left !important;
}
.content-part-newsevents .events-list-view {
 float: left;
 width: 100%;
 background: #fff !important;
 color: #000;
}
.content-block-spotlight .events-list-view .article {
 margin: 20px 0 0 0%;
 float: left;
 width: 100%;
 color: #000;
}
.content-block-spotlight .events-list-view .article a {
 color: #000;
}
.col-55 {
 -ms-flex: 0 0 100%;
 flex: 0 0 100%;
 max-width: 100%;
 margin: 0px 0 0 0;
}
.content-part.ce-link-tile .headline .hl-ce-link-tile {
 width: 100%;
}
.text ul li::before, .accordion-text ul li::before {
 background: #000;
}
.content-block-ce-text-media-teaser .ce-text-media-teaser .text.text-leadin {
 width: 100%;
 margin: 0 auto;
}
.col-7 {
 -ms-flex: 0 0 100%;
 flex: 0 0 100%;
 max-width: 100%;
}
.ce-quote .quote-text {
 font-size: 30px;
 font-weight: 400;
 line-height: 40px;
 font-style: italic;
 margin: 50px 0 20px 0%;
 width: 100%;
 padding: 0 0% 15px 0;
}
.content-part-newsevents .news-list-view .article-news {
 width: 100%;
 margin: 30px 0 50px 0;
 margin-bottom: 50px !important;
 float: left;
}
.content-part.ctype-mugce_spotlight_cat_news_events.content-block-spotlight {
 margin: 30px 0 0 0;
}
.ce-offers .ce-offer {
 margin: 10px 0 10px 0;
 width: 100%;
 float: left;
}
.bg-grey-light {
 background: #fff;
}
.ce-offers .headline-section {
 margin-bottom: 20px;
}
.content-block-ce-offers.bg-grey-light .headline-section {
 margin-top: 0px;
}
.text ul, .accordion-text ul, .text ol, .accordion-text ol {
 margin: 0px 0 25px 21px;
 list-style-type: inherit;
}
.text ul li, .text ol li, .accordion-text ul li, .accordion-text ol li {
 padding: 0 0 0px 0px;
}
.text ul li::before, .accordion-text ul li::before {
 display:none;
 overflow: visible;
}
.col-05 {
 -ms-flex: 0 0 0%;
 flex: 0 0 0%;
 max-width: 0%;
}
.row {
 display: block;
 -ms-flex-wrap: inherit;
 flex-wrap: inherit;
 float: left;
 width: 100%;
}
.news-img-wrap {
 display: block !important;
 width: 40%;
 height: auto !important;
 max-height: inherit !important;
 float: left;
}
.news-img-wrap img {
 min-height: inherit;
}
.content-block .ce-text-media-teaser .container {
 width: 100%;
 max-width: inherit;
}
.ce-quote.bg-grey-light .headline {
 margin-top: 0px;
}
.ce-quote .headline {
 display: block;
 width: 100%;
 margin: 0px 0 0px 0;
 margin-top: 0px;
 text-align:center;
}
.ce-quote .headline {
 text-align: center !important;
}
.ce-quote .quote-text {
 font-size: 30px;
 font-weight: 400;
 line-height: 40px;
 font-style: italic;
 margin: 0px auto;
 width: 50%;
 padding: 0 0% 15px 0;
 text-align: center;
}
.ce-quote .quote-by p {
 margin: 0px;
 line-height: 18px;
 text-align: center;
}
.content-part.ctype-mugce_contact.content-block-ce-contact {
 margin: 0px;
}
.ce-contact-box .contact-text {
 width: 30%;
 float: left;
 margin: 20px 0 0 0%;
}
.content-block .content-block-ce-contact .container {
 width: 100%;
}
.ce-contact-box .contact-image {
 float: left;
 width: 30%;
 margin: 15px 0 0 0;
 position: relative;
 padding: 0 0 20px 0;
 text-align: center;
}
.ce-contact-box .contact-image {
 float: left;
 width: 16%;
 margin: 15px 0 0 0;
 position: relative;
 padding: 0 0 0px 0;
 text-align: left;
}
.ce-contact-box {
 margin: 0px auto;
 width: 100%;
 float: none;
}
.content-block .ce-accordion-box .container {
 width: 100%;
 max-width: inherit;
}
.content-block-ce-accordion .accordion-title h4 {
 margin-left: 0;
 width: 90%;
}
.content-block-ce-accordion .accordion-text {
 display: block;
 width: 90%;
 margin: 20px 0 10px 0%;
 margin-top: 20px;
 margin-right: 0px;
 margin-bottom: 10px;
 margin-left: 0%;
 float: left;
}
.content-block-ce-accordion .accordion-item {
 border-bottom: 1px solid #000;
}
.content-block-ce-accordion .accordion-title h4 {
 margin-left: 0;
 width: 90%;
 font-size: 20px;
 font-weight: 600;
}
.rowborder-toplight {
 border-top: 0 solid #ccc;
}
.content-part.content-part-newsevents {
 margin-top: 0px;
}
.footerbg {
 display: none;
}
.header-line {
 margin: 0px 0 0px 0;
}
.logoimg {
 margin: 0 0 0 0;
}
.headline.rowborder-bottom {
 margin-bottom: 0px;
 float: left;
 width: 100%;
}
.ce-text-columns  .col-55 {
 -ms-flex: 0 0 100%;
 flex: 0 0 100%;
 max-width: 100%;
 margin: 0px 0 30px 0;
 display: block;
 float: left;
 width: 100%;
}
.sidebar-default .greenbox {
 position: relative;
 top: 0;
 width: 100%;
 float: left;
}
.bg-green-dark {
 background: #fff;
}
.infobox-inner {
 float: left;
 width: 100%;
 color: #000;
 position: relative;
}
.sidebar-default .greenbox .infobox-inner {
 height: auto;
 overflow: visible;
}
.sidebar-default .info-box {
 right: inherit;
 position: relative;
 top: 0;
 width: 100%;
 float: left;
 bottom: inherit;
}
.infobox-headline {
 margin: 0px auto 0px auto;
}
.sidebar-default .greenbox .infobox-headline {
 width: 100%;
}
.sidebar-default {
 top: inherit;
 position: relative;
}
.infobox-headline-BTN {
 display: none;
}
.breadcrumbline .breadcrumbbox {
 position: relative;
 margin: 0px 0 0px 0px;
 font-size: 13px;
 top: inherit;
}
.breadcrumbline .breadcrumbbox a {
 float: left;
}
.content-block .container {
 width: 100%;
 max-width: inherit;
 float: left;
}
.ce-gallery .grid {
 margin-bottom: 30px;
}
.ce-offers .text ul {
 margin: 0px 0 10px 20px;
}
.content-part-newsevents.onenews .break {
 display: block;
 width: 100%;
 float: left;
 min-height: 0px;
 margin: 0 0 0px 0;
}
.content-block {
 width: 95%;
 max-width: 95%;
 margin: 0 0 0 2.5%;
 float: left;
}
.sidebar-default .greenbox .infobox-headline {
 width: 100%;
 margin: 0 0 10px 0;
}
.ce-gallery .grid-item {
 margin: 0 0% 0px 0;
 width: 51%;
 position: relative !important;
 left: inherit !important;
 top: inherit !important;
 float: none;
 display:block !important;
}
.ce-gallery .grid {
 margin-bottom: 60px;
 height: auto !important;
 width: 100% !important;
 position: relative;
}
.ce-gallery .gallerybox {
 float: left;
 margin: 0px 0 50px 0;
 width: 100%;
 position: relative;
 overflow: visible;
}
.content-part-newsevents .news-list-view .article-news {
 margin-bottom: 0px !important;
}
.ce-footer .container {
 padding: 0px 0 0 0;
}
.ce-footer .container-lastline {
 padding: 0px 0 0px 0;
 margin: 0px auto 0 auto;
}
.ce-footer .clear {
 margin: 5px 0 0 0;
}
.newsteaserpart .content-block {
 width: 100%;
 max-width: 100%;
 margin: 0 0 0 0;
 float: left;
}
.newsteaserpart {
 width: 95%;
 max-width: 95%;
 margin: 0 0 0 2.5%;
 float: left;
}
.page-news .sidebar-default .info-box {
 top: inherit;
}
.news-single .sidebar-default {
 top: inherit;
 margin: 20px 0 0 0;
 float: left;
 position: relative;
}
.content-block-eventsdetail .sidebar-default .news-item-inner {
 width: 100%;
}
.content-block-eventsdetail .greybox-news {
 background: #fff;
 float: left;
 padding: 10px 0 10px 0;
 border-top: 1px solid #000;
 border-bottom: 1px solid #000;
 width: 100%;
}
.page-event .sidebar-default .greenbox {
 top: inherit;
 text-align: left;
 width: 100%;
 float: left;
 margin: 10px 0 0 0;
}
.content-block-eventsdetail .Day,.content-block-eventsdetail .Month {
 text-align: left;
}
.content-block-eventsdetail .Month {
 margin: 0px 0 0 0;
 border-top: 0px solid #fff;
 padding: 15px 0 0 0;
}
.page-event .ce-text-columns {
 margin: 10px 0 10px 0;
}
.standard-leadin .ce-text {
 margin: 0px 0 0px 0;
}
.ce-text .text-leadin {
 width: 100%;
 max-width: 100%;
}
blockquote {
 color: #000;
 font-style: italic;
 font-size: 20px;
 line-height: 29px;
 border: 0px;
 display: block;
}
.col.col-8 {
 width: 100%;
 max-width: 100%;
 float: left;
}
.standard-leadin.content-part-nobottomspace .ce-text {
 margin: 0px 0 0px 0;
}
.content-block-3.C-Low .container > .row, .content-block-4.C-Low .container > .row, .content-block-5.C-Low .container > .row {
 width: 100%;
}
.col-05 {
 -ms-flex: inherit;
 flex: inherit;
 max-width: 100%;
 display: block !important;
}
.content-block-3.C-Low .container > .row .col-md-9, .content-block-4.C-Low .container > .row .col-md-9, .content-block-5.C-Low .container > .row .col-md-9 {
 -ms-flex: inherit !important;
 flex: inherit !important;
 max-width: 100%;
 display: block !important;
}
.link-list a {
 text-align: left;
 float: left;
 text-decoration: none !important;
}
.text ol li li, .accordion-text ol li li, .text ul li li, .accordion-text ul li li {
 padding: 0;
 margin-left: 20px;
}
}