<div class="page-wrapper page-news">
  <f:render partial="Header" arguments="{_all}" />
  <div class="row content-block content-header-default standardCE2">
    <div class="ce-homeslider ce-homeslider-newsheader">
      <div class="ce-header-slider trans" >
        <div class="cycle-slideshow">
          <div class="ce-homesliderelement">
            <div class="ce-header-slider-element">
              <div class="box-sliderbgbalken"><img src="/typo3conf/ext/mug_ce/Resources/Public/Images/balken-green.png" alt="" class="sliderbgbalken blend animateAll-s"></div>
              <img class="slider-img newsheader-img"  alt="" width="1720" height="550">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <v:page.breadCrumb class="breadcrumb" as="items" showHiddenInMenu="true">
    <div class="breadcrumb-detailsite breadcrumb-newsover"><f:render partial="../Breadcrumb" arguments="{items: items}"/></div>
  </v:page.breadCrumb>
  <!--TYPO3SEARCH_begin-->
  <f:format.raw>{mugce_content}</f:format.raw>
  <!--TYPO3SEARCH_end-->
  <f:render partial="Footer" arguments="{_all}" />
</div>

