<footer id="c{data.uid}" class="row content-block ce-footer rowborder-toplight">
    <div class="content-part">
        <div class="container">
            <div class="adressbox">
                <a href="/">
                    <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/logo-meduni-graz.svg')}" alt="" class="logoimg">
                </a>
                <address>
                    {v:content.render(contentUids:{0: footerContentIdDe, 1: footerContentIdEn}) -> f:format.raw()}
                    <div class="orientationbox">
                        <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/icon-googlemarker.svg')}" alt="" class="googlemarker">
                        <v:menu pageUid="{footerOrientationNavId}" useShortcutUid="true" useShortcutTarget="true">
                            <f:render partial="FooterOrientationNav" arguments="{menu: menu, currentPid: data.uid, cssClass: 'column'}"/>
                        </v:menu>
                    </div>
                </address>
            </div>
            <div class="bottom-metaline">
                <v:menu pageUid="{footerNavId}" useShortcutUid="true" useShortcutTarget="true" includeSpacers="true">
                    <f:render partial="FooterNav" arguments="{menu: menu, currentPid: data.uid, cssClass: 'column'}"/>
                </v:menu>
            </div>
        </div>
        <div class="clear"></div>
        <div class="container container-lastline rowborder-toplight">
            <div class="copy">© {currentYear} Medizinische Universität Graz</div>
            <div class="rubikon"><a href="https://www.rubikon.at" target="_blank">Website by Werbeagentur Rubikon</a></div>
        </div>
    </div>
</footer>
<div class="footerbg">
    <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/bgfooter.jpg')}" alt="" class="footerlastlinebg">
</div>