{namespace ce=MUG\ContentElements\ViewHelpers}
  <div class="row content-block">
    <div class="header-line">
      <div id="logo-page">
        <a href="/">
          <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/logo-meduni-graz.png')}" alt="" class="logoimg">
        </a>
          </div>
      <div class="metaline">

     <v:menu pageUid="{metaNavId}" useShortcutUid="true" useShortcutTarget="true">
       <f:render partial="MetaNav" arguments="{menu: menu, currentPid: data.uid, cssClass: 'column'}"/>
     </v:menu>
     <div class="metasettings text-medium">
      <v:page.languageMenu defaultLanguageLabel="DE" defaultIsoFlag="de" as="menu" hideNotTranslated="true" labelOverwrite="DE,EN">
        <f:if condition="{menu -> f:count()} > 1">
          <f:then>
            <f:for each="{menu}" key="idx" as="item">
              <f:if condition="{idx} > 0">
                |
              </f:if>
              <f:if condition="{item.current} == 0">
                <f:then>
                  <a href="{item.url}">
                    {item.label}
                  </a>
                </f:then>
                <f:else>
                  <b>{item.label}</b>
                </f:else>
              </f:if>
            </f:for>
          </f:then>
          <f:else>
            <b>{menu.0.label}</b>
          </f:else>
        </f:if>
      </v:page.languageMenu>
     </div>
      <v:menu pageUid="{iAmNavId}" useShortcutUid="true" useShortcutTarget="true">
        <f:render partial="IAmNav" arguments="{menu: menu, currentPid: data.uid, cssClass: 'column'}"/>
      </v:menu>


      </div>

      <f:variable name="root" value="{ce:getRoot()}"/>
      <v:menu pageUid="{root.uid}" useShortcutUid="true" useShortcutTarget="true">
        <f:render partial="MainMenu" arguments="{menu: menu, currentPid: data.uid, cssClass: 'column'}"/>
      </v:menu>

    </div>
  </div>
