<div class="submenburgerBTN">
    <span class="burgerbtnline"></span>
  <span class="burgerbtnline"></span>
  <span class="burgerbtnline"></span>
</div>
<div class="submenburgerBTN-x">
  <img src="/typo3conf/ext/mug_ce/Resources/Public/Images/icon-x-green.svg" alt="" class="icon-submenburgerBTN-x">
</div>
<div class="info-box submenu-box">
  <div class="infobox-inner">
<div class="quicklinks-box standardshadow ">

<ul id="subMenu" class="sub-menu">
  <v:menu pageUid="{rootId}" useShortcutUid="true" useShortcutTarget="true">
    <f:for each="{menu}" as="item" iteration="iterator">
      <f:if condition="{item.doktype}!=42">
        {v:variable.set(name:'hasSub',value:'{v:condition.page.hasSubpages(then: "TRUE", else: "FALSE", pageUid: "{item.uid}", includeHidden: 0, showHiddenInMenu: 0)}')}
        <li class="nav-item animateAll nav-item-level-0  <f:if condition='{hasSub} == "TRUE"'> subsubinside</f:if> {f:if(condition:'{item.active}',then:' active')}{f:if(condition:'{item.doktype}==4 && {item.shortcut} == {currentPid}',then:' active')}">
          <f:link.typolink parameter="{item.link}" class="menu-link menu-link-level0 animateAll {f:if(condition:'{item.active}',then:'active')}{f:if(condition:'{item.doktype}==4 && {item.shortcut} == {currentPid}',then:'active')}">
            {item.linktext}<span class="subnavopenBTN">
            <img src="/typo3conf/ext/mug_ce/Resources/Public/Images/icon-arrow-black-right.svg" alt="" class="animateAll subnavbox-arrow subnavbox-noarrowplus">
            <img src="/typo3conf/ext/mug_ce/Resources/Public/Images/icon-plus-black.svg" alt="" class="animateAll subnavbox-arrow subnavbox-arrowplus">
          </span>
          </f:link.typolink>
          <f:if condition='{hasSub} == "TRUE"'>
            <ul class="sub-sub-menu">
              <v:menu pageUid="{item.uid}" as="subMenu" useShortcutUid="true">
                <f:for each="{subMenu}" as="subItem" iteration="iterator">
                  <f:if condition="{subItem.doktype}!=42">
                    <li class="nav-item animateAll nav-item-level-1 {f:if(condition:'{subItem.active}',then:' active')}{f:if(condition:'{subItem.doktype}==4 && {subItem.shortcut} == {currentPid}',then:' active')}">
                      <f:link.typolink parameter="{subItem.link}" class="menu-link menu-link-level1 animateAll {f:if(condition:'{subItem.active}',then:'active')}{f:if(condition:'{subItem.doktype}==4 && {subItem.shortcut} == {currentPid}',then:'active')}">
                        {subItem.linktext}<span class="subnavopenBTN"><img src="/typo3conf/ext/mug_ce/Resources/Public/Images/icon-arrow-black-right.svg" alt="" class="animateAll subnavbox-arrow "></span>
                      </f:link.typolink>
                    </li>
                  </f:if>
                </f:for>
              </v:menu>
            </ul>
          </f:if>
        </li>
      </f:if>
    </f:for>
  </v:menu>
</ul>
</div>
  </div>
</div>
