<div class="main-wrapper default tmpl-Organisation">
  <f:render partial="Header" arguments="{_all}" />
  <div class="minheader">
    <f:format.raw>{mugce_headercontent}</f:format.raw>
  </div>
  <v:page.breadCrumb class="breadcrumb" as="items">
    <f:render partial="Breadcrumb" arguments="{items: items}"/>
  </v:page.breadCrumb>
  <div class="row content-block content-block-innerwrapper">
    <div class="content-part">
      <div class="container">
        <div class="contentpart-60">
          <f:format.raw>{mugce_content}</f:format.raw>
        </div>
        <div class="contentpart-40">
          <f:render partial="OrganisationSubmenu" arguments="{_all}" />
        </div>
      </div>
    </div>
  </div>
</div>