<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Inner" />
<f:section name="Main">
    <div class="accordion-item rowborder-bottom">
        <div class="accordion-title">
            <h4>{data.header}</h4>
            <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-arrow-black-down.svg')}" alt="" class="arrow">
        </div>
        <div class="accordion-text">{data.bodytext -> f:format.html()}</div>
    </div>
</f:section>
</html>
