{namespace ce=MUG\ContentElements\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
  <div class="content-part ce-contact-box headline-small">
      <div class="container">
          <div class="row">
              <div class="col col-7 bg-grey-light trans">
                <div class="contact-text">
                      <div class="headline  <f:if condition='{data.mugce_caption}'>rowborder-bottom </f:if>">
                          <h4>
                              <span class="caption">{data.mugce_caption}</span>
                          </h4>
                      </div>
                      <div class="contact-data">
                  <span class="name">
                     <f:if condition="{data.header}"><span class="titelpre"><ce:renderAcademicDegree degree="{data.header}" /></span><br></f:if>
                     <span class="text-bold">{data.bodytext}&nbsp;</span>
                     <f:if condition="{data.mugce_header}"><span class="titelpost"><ce:renderAcademicDegree degree="{data.mugce_header}" /></span></f:if>
                  </span>
                          <f:if condition="{data.subheader}">
                              <div class="phone">{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:phone", default: "T:")} {data.subheader}</div>
                          </f:if>
                          <f:if condition="{data.mugce_text}">
                              <div class="mail">{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:phone2", default: "T:")} {data.mugce_text}</div>
                          </f:if>
                          <f:if condition="{data.mugce_text_2}">
                              <div class="mail">{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:fax", default: "F:")} {data.mugce_text_2}</div>
                          </f:if>
                          <f:if condition="{data.mugce_subheader}">
                              <div class="mail">{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:mail", default: "E:")} <a href="mailto:{data.mugce_subheader}" class="textlink">{data.mugce_subheader}</a></div>
                          </f:if>
                      </div>
                  </div>
                  <div class="contact-image">
                      <f:if condition="{image.0}">
                          <f:then>
                              <f:image image="{image.0}" class="img" width="570c" height="380c" />
                          </f:then>
                          <f:else>
                          </f:else>
                      </f:if>

                      <f:if condition="{data.header_link}">
                          <div class="cvlink">
                              <f:link.typolink parameter="{data.header_link}" class="morelink text-bold animateAll">
                                  {f:if(condition: '{data.mugce_link_label}', then: '{data.mugce_link_label}', else: '{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}')}
                                  <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/icon-arrow-black-right.svg')}" alt="" class="animateAll morelink-arrow">
                              </f:link.typolink>
                          </div>
                      </f:if>
                  </div>
              </div>
              <div class="col col-05 "> </div>
              <div class="col col-35 trans"></div>
          </div>
      </div>
  </div>
</f:section>
</html>