{namespace ce=MUG\ContentElements\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Header" />
<f:section name="Main">
  <div class="ce-homeslider">
    <div class="ce-header-slider trans">
      <div class="cycle-slideshow">
        <div class="ce-homesliderelement">
          <div class="ce-header-slider-element">
            <div class="box-sliderbgbalken"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/balken-green.png')}" alt="" class="sliderbgbalken blend animateAll-s"></div>
            <f:if condition="{image}">
              <f:image image="{image.0}" class="slider-img" width="1720c" height="550c" />
            </f:if>
          </div>
        </div>
      </div>
    </div>
  </div>
</f:section>

<f:section name="AfterContainer">
  <div class="row content-block standard standard-leadin">
    <div class="content-part ce-text">
      <div class="container">
        <div class="row  ">
          <div class="col  col-8  trans">
            <v:page.breadCrumb class="breadcrumb" as="items">
              <f:render partial="../Breadcrumb" arguments="{items: items}"/>
            </v:page.breadCrumb>
            <!--TYPO3SEARCH_begin-->
            <div class="headline">
              <h1>{data.header}</h1>
            </div>
            <!--TYPO3SEARCH_end-->
          </div>
          <div class="col col-05 "> </div>
          <div class="col col-35 sidebar-default">
            <f:if condition="{data.mugce_display_type} == 3 || {data.mugce_display_type} == 5 || {data.mugce_display_type} == 6">
              <div class="greenbox">
                <div class="infobox-inner">
                  <div class="blend blend-full bg-green-dark"></div>
                  <div class="infobox-headline text-bold">
                    {data.mugce_header}
                  </div>
                </div>
              </div>
            </f:if>
            <f:if condition="{data.mugce_display_type} == 2 || {data.mugce_display_type} == 4 || {data.mugce_display_type} == 5">
              <f:render partial="OrganisationSubmenu" arguments="{rootId: data.pid}" />
            </f:if>
            <f:if condition="{data.mugce_display_type} == 1 || {data.mugce_display_type} == 4 || {data.mugce_display_type} == 6  || {data.mugce_display_type} == 7 || {data.mugce_display_type} == 8 || {data.mugce_display_type} == 9 || {data.mugce_display_type} == 10">
              <f:switch expression="{data.mugce_display_type}">
                <f:case value="1">
                  <f:variable name="newscount" value="3" />
                </f:case>
                <f:case value="4">
                  <f:variable name="newscount" value="1" />
                </f:case>
                <f:case value="6">
                  <f:variable name="newscount" value="2" />
                </f:case>
                <f:case value="7">
                  <f:variable name="newscount" value="1" />
                </f:case>
                <f:case value="8">
                  <f:variable name="newscount" value="3" />
                </f:case>
                <f:case value="9">
                  <f:variable name="newscount" value="1" />
                </f:case>
                <f:case value="10">
                  <f:variable name="newscount" value="2" />
                </f:case>
              </f:switch>
              <f:if condition="{data.mugce_display_type} == 1 || {data.mugce_display_type} == 4 || {data.mugce_display_type} == 6  || {data.mugce_display_type} == 7">
                <f:then>
                  <f:variable name="news" value="{ce:getNewsByRelation(uid: data.uid ,limit: newscount)}" />
                  <f:if condition="{news -> f:count()} == 0">
                    <f:variable name="news" value="{ce:getNewsByCategory(uid: data.uid ,limit: newscount)}" />
                  </f:if>
                </f:then>
                <f:else>
                  <f:variable name="news" value="{ce:getEventsByRelation(uid: data.uid ,limit: newscount)}" />
                  <f:if condition="{news -> f:count()} == 0">
                    <f:variable name="news" value="{ce:getEventsByCategory(uid: data.uid ,limit: newscount)}" />
                  </f:if>
                </f:else>
              </f:if>
              <div class="info-box">
                <div class="quicklinks-box">
                  <div class="news-box-inner">
                    <f:for as="newsItem" key="idx" each="{news}">
                      <f:if condition="{data.mugce_display_type} != 6 && {idx} == 0">
                        <f:then>
                          <f:comment>Green block</f:comment>

                          <div class="greenbox greenbox-news">
                            <div class="infobox-inner">
                              <div class="blend blend-full bg-green-dark"></div>
                              <div class="infobox-headline text-bold">
                                {newsItem.title}

                                <f:link.action pageUid="{newsDetailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detail" arguments="{news:newsItem.uid}">
                                  <div class="infobox-headline-BTN animateAll"><img src="/typo3conf/ext/mug_ce/Resources/Public/css/img/icon-arrow-withe-right.svg" alt="" class="arrow"></div>

                                </f:link.action>
                                <div class="teaser">
                                {newsItem.teaser}
                                </div>
                              </div>
                            </div>
                          </div>




                        </f:then>
                        <f:else>
                          <f:comment>Grey block</f:comment>
                          <div class="news-item  greybox-news bg-grey-light entry-{idx}">
                            <div class="news-item-inner">
                              <div class="quicklinks-headline text-bold">{newsItem.title}</div>
                              <div class="teaser">
                                {newsItem.teaser}
                                <f:link.action pageUid="{newsDetailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detail" arguments="{news:newsItem.uid}">
                                 <span class="morelinknews">{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}</span>
                                </f:link.action>
                              </div>
                            </div>
                          </div>
                        </f:else>
                      </f:if>
                    </f:for>
                    <div class="linktoall bg-grey-light">
                      <div class="news-item-inner">
                        <div class="border-bottom"></div>
                        <f:link.action pageUid="{newsOverviewPid}" extensionName="News" pluginName="pi1" controller="News" action="list" class="morelink text-bold animateAll">
                          {f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:allNews", default: "Alle News")}
                          <img src="/typo3conf/ext/mug_ce/Resources/Public/css/img/icon-arrow-black-right.svg" alt="" class="animateAll morelink-arrow">
                        </f:link.action>
                        <f:link.action pageUid="{eventsOverviewPid}" extensionName="News" pluginName="pi1" controller="News" action="listEvents" class="morelink text-bold animateAll">
                          {f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:allEvents", default: "Alle Events")}
                          <img src="/typo3conf/ext/mug_ce/Resources/Public/css/img/icon-arrow-black-right.svg" alt="" class="animateAll morelink-arrow">
                        </f:link.action>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </f:if>
          </div>
        </div>
      </div>
    </div>
  </div>
</f:section>
</html>