<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="BeforeContainer">
    <f:if condition="{data.subheader}">
        <div class="section-name text-bold trans">
            <div class="section-name-Inner"><span class="section-line-top"></span>{data.subheader}<span class="section-line-bottom"></span></div>
        </div>
    </f:if>
</f:section>

<f:section name="Main">
    <div class="row ">
        <f:if condition="{data.header}">
             <div class="headline text-center trans">
              <h2 class="text-bold hl-big hl-big hl-ce-link-tile">{data.header -> f:format.nl2br()}</h2>
            </div>
        </f:if>
        <f:for each="{elements}" as="element">
            <v:content.render contentUids="{0: element.data.uid}" limit="1" render="1" as="content">
                {content.0 -> f:format.raw()}
            </v:content.render>
        </f:for>
    </div>
    <div class="bgbox bg-grey-light"></div>
</f:section>
</html>