<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
  <div class="ce-offers">
    <div class="headline-section text-center trans">
      <h2 class="text-bold hl-big">{data.header -> f:format.nl2br()}</h2>
    </div>
    <div class="elements row">
      <f:for each="{elements}" as="element">
        <v:content.render contentUids="{0: element.data.uid}" limit="1" render="1" as="content">
          {content.0 -> f:format.raw()}
        </v:content.render>
      </f:for>
    </div>
  </div>
</f:section>
</html>