<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="BeforeContainer">
  <f:if condition="{data.header}">
    <div class="headline text-center trans">
      <h2 class="hl-big">{data.header -> f:format.nl2br()}</h2>
    </div>
  </f:if>
</f:section>


<f:section name="Main">
  <div class="container">
    <div class="row">
      <div class="col  col-75 trans">
        <f:if condition="{data.mugce_add_effect}"><div class="greygradiantlayer"></div></f:if>


        <f:image image="{image.0}" class="img img-ce-text-media" width="870c" height="" />
      </div>
      <div class="col col-05 "> </div>
      <div class="col col-35 trans">
        <div class="text quote-text rowborder-bottom">
          {data.bodytext -> f:format.html()}
          <f:if condition="{data.mugce_subheader}">
            <div class="text quote-by">
              {data.mugce_subheader -> f:format.html()}
            </div>
          </f:if>
        </div>
        <f:if condition="{data.header_link}">
          <f:link.typolink parameter="{data.header_link}" class="morelink text-bold animateAll">
            {f:if(condition: '{data.mugce_link_label}', then: '{data.mugce_link_label}', else: '{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}')}
            <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-arrow-black-right.svg')}" alt="" class="animateAll morelink-arrow">
          </f:link.typolink>
        </f:if>
      </div>
    </div>
  </div>
</f:section>
</html>
