{namespace ce=MUG\ContentElements\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
  <f:variable name="topnews" value="{ce:getNewsByCategory(uid: data.uid, storagePage: newsStoragePage, topNewsRestriction: 1, limit: 1)}" />
  <f:variable name="topnewsRendering">
    <f:for each="{topnews}" as="newsItem">
      <div class="spolightItem spolightItemAll">
        <f:render partial="../News/List/SpotlightItem" arguments="{newsItem: newsItem, settings: {newsDetailPid: newsDetailPid}, iterator:iterator}" />
      </div>
    </f:for>
  </f:variable>
  <f:variable name="news" value="{ce:getNewsByCategory(uid: data.uid, storagePage: newsStoragePage, limit: 3)}" />
  <f:variable name="events" value="{ce:getEventsByCategory(uid: data.uid, storagePage: eventsStoragePage, limit: 2)}" />

  <f:render partial="SpotlightMain" arguments="{news: news, events: events, data:data, display_type: 0, newsOverviewPid: newsOverviewPid, eventsOverviewPid: eventsOverviewPid}" />
</f:section>


<f:section name="AfterContainer">
  <f:render partial="SpotlightAfter" arguments="{topnewsRendering: topnewsRendering, news: news, events: events, data:data, assets: assets, display_type: 0, newsDetailPid: newsDetailPid, eventsDetailPid: eventsDetailPid}" />
</f:section>

</html>

