<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
  <div class="content-part ce-text-media-teaser">
    <f:if condition="{data.header} || {data.bodytext}">
      <div class="headline text-center trans">
        <h2 class="hl-big">{data.header -> f:format.nl2br()}</h2>
        <div class="text text-leadin">
          {data.bodytext -> f:format.html()}
        </div>
      </div>
    </f:if>
    <f:if condition="{data.mugce_header} || {data.mugce_bodytext} || {image} || {data.mugce_quicklinks} > 0">
      <div class="container">
        <div class="row">
          <div class="col col-7 trans">
            <f:if condition="{image}">
              <f:image image="{image.0}" class="img img-ce-text-media-teaser" width="1000c" height="680c" />
            </f:if>
          </div>
          <div class="col col-05 "> </div>
          <div class="col col-35 trans">
            <div class="headline  headline-imageteaseritem ">
              <h3 class="text-bold">{data.mugce_header -> f:format.nl2br()}</h3>
            </div>
              <div class="text <f:if condition='{data.mugce_quicklinks} > 0'>rowborder-bottom  </f:if>">
                {data.mugce_bodytext -> f:format.html()}
              </div>
              <f:if condition="{data.mugce_quicklinks} > 0">
                <div class="medialinks-box">
                  <f:for each="{quicklinks}" as="link">
                    <div class="morelink text-bold animateAll">
                      <v:content.render contentUids="{0: link.data.uid}" limit="1" render="1" as="content">
                        {content.0 -> f:format.raw()}
                      </v:content.render>
                    </div>
                  </f:for>
                </div>
              </f:if>

          </div>
        </div>
      </div>
    </f:if>
  </div>
</f:section>
</html>
