<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
      data-namespace-typo3-fluid="true">
<f:layout name="Detail" />
<f:section name="content">
  <f:if condition="{newsItem}">
    <f:then>
      <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" class="newsheaderSRC" alt="{mediaElement.originalResource.alternative}" width="1720c" height="550c"  />
      </f:alias>

      <div class="row content-block standard standard-leadin">
        <div class="content-part ce-text">
          <div class="container">
            <div class="row  ">
              <div class="col  col-8  trans">
                <div class="row  breadcrumbline trans">
                  <div class="content-part breadcrumbline">
                    <div class="container">
                      <div class="breadcrumbbox">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="headline">
                  <h1>
                    <f:if condition="{newsItem.alternativeTitle}">
                      <f:then>
                        <f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
                      </f:then>
                      <f:else>
                        <f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
                      </f:else>
                    </f:if>
                  </h1>
                  <span class="news-list-date text-bold">
                                 <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                                    <f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date>
                                 </time>
                              </span>
                </div>
                <div class="text text-leadin">
                  <f:format.html>{newsItem.bodytext}</f:format.html>
                </div>
              </div>
              <div class="col col-05 "> </div>
              <div class="col col-35 sidebar-default">
                <div class="info-box">
                  <div class="quicklinks-box">
                    <div class="news-box-inner">

                      <div class="linktoall bg-grey-light">
                        <div class="news-item-inner">
                          <div class="border-bottom"></div>
                          <f:link.action pageUid="{settings.newsOverviewPid}" extensionName="News" pluginName="pi1" controller="News" action="list" class="morelink text-bold animateAll">
                              {f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreinfos", default: "Weitere Informationen")}
                            <img src="/typo3conf/ext/mug_ce/Resources/Public/css/img/icon-arrow-black-right.svg" alt="" class="animateAll morelink-arrow">
                          </f:link.action>
                          <f:link.action pageUid="{settings.eventsOverviewPid}" extensionName="News" pluginName="pi1" controller="News" action="listEvents" class="morelink text-bold animateAll">
                             {f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:website", default: "Website")}
                            <img src="/typo3conf/ext/mug_ce/Resources/Public/css/img/icon-arrow-black-right.svg" alt="" class="animateAll morelink-arrow">
                          </f:link.action>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <f:if condition="{newsItem.contentElements}">
        <f:for each="{newsItem.contentElements}" as="element">
          {v:content.render(contentUids:{0: element.uid}) -> f:format.raw()}
        </f:for>
      </f:if>
    </f:then>
    <f:else>
    </f:else>
  </f:if>
</f:section>
</html>

