<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />
<f:section name="content">
    <div class="row content-block standard standard-leadin standard-leadin-newsoverview">
        <div class="content-part ce-text">
            <div class="container">
                <div class="row  ">
                    <div class="col  col-8  trans">
                        <div class="headline">
                            <h1>
                                {f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:newsheadline", default: "Neues und Aktuelles")}
                            </h1>
                        </div>
                    </div>
                    <div class="col col-05 "> </div>
                    <div class="col col-35 sidebar-default sidebar-filterbox trans">
                        <div class="info-box">
                            <div class="quicklinks-box">
                                <div class="news-box-inner">
                                    <div class="news-item  greybox-news bg-grey-light entry-1">
                                        <div class="news-item-inner">
                                            <div class="teaser">
                                                <f:if condition="{allCategories}">
                                                    <div class="filterbox">
                                                        <div class="filteritem">
                                                            <f:link.action pageUid="{settings.newsOverviewPid}" extensionName="News" pluginName="pi1" controller="News" action="list">
                                                                {f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:showAll", default: "Alle zeigen")}
                                                            </f:link.action>
                                                        </div>
                                                        <f:for as="category" each="{allCategories}">
                                                            <div class="filteritem{f:if(condition: '{categories -> f:count()} == 1 && {category.uid} == {categories.0.uid}' , then: ' filteritem-active', else: '')}">
                                                                <f:link.page title="{category.title}" additionalParams="{tx_news_pi1:{action: 'list', controller: 'News', overwriteDemand:{categories: category.uid}}}">
                                                                    {category.title}
                                                                </f:link.page>
                                                            </div>
                                                        </f:for>
                                                    </div>
                                                </f:if>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="news-overview-list" id="news-container-{contentObjectData.uid}">
                        <f:if condition="{settings.hidePagination}">
                            <f:then>
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                            </f:then>
                            <f:else>
                                <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
                                    <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
                                        <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </f:for>
                                </n:widget.paginate>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>
</html>

