<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />
<f:section name="content">
  <div class="row content-block standard standard-leadin content-block-eventsoverview">
    <div class="content-part ce-text">
      <div class="container">
        <div class="row  ">
          <div class="col    trans">
            <div class="row  breadcrumbline trans">
              <div class="content-part breadcrumbline">
                <div class="container">
                  <div class="breadcrumbbox">
                  </div>
                </div>
              </div>
            </div>
            <div class="headline">
              <h1>
                {f:format.date(date:date,format:'%B %Y')}
                <span class="h1subline">{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:allEventsIn", arguments: {0: '{f:format.date(date:date,format:"%B")}'}, default: "Alle Events")}</span>
              </h1>
              <div class="eventfilterbox">
                <div class="eventfilterboxInner">
                  <input type="text" onfocus="(this.type='date')" id="eventday" name="eventday" value="" placeholder="{f:translate(key: 'LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:chooseDate', default: 'Datum auswählen')}" class="eventfilterbox-input eventfilterbox-date datechk">

                  <div class="monthpaging eventfilterbox-input">
                    <f:link.page class="monthpagingLink-prev" title="{f:format.date(date:prevMonth,format:'%B')}" additionalParams="{tx_news_pi1:{overwriteDemand: {month:'{f:format.date(date:prevMonth,format:\'n\')}', year:'{f:format.date(date:prevMonth,format:\'Y\')}'}}}">
                      {f:format.date(date:prevMonth,format:'%B')}
                    </f:link.page>
                    <f:link.page class="monthpagingLink-next" title="{f:format.date(date:nextMonth,format:'%B')}" additionalParams="{tx_news_pi1:{overwriteDemand: {month:'{f:format.date(date:nextMonth,format:\'n\')}', year:'{f:format.date(date:nextMonth,format:\'Y\')}'}}}">
                      {f:format.date(date:nextMonth,format:'%B')}
                    </f:link.page>
                  </div>
                </div>
              </div>
            </div>
            <div class="text monthpagingpart">
              <div class="neventlist-overview" id="news-container-{contentObjectData.uid}">
                <f:if condition="{events}">
                  <f:for each="{events}" as="eventItem" iteration="iterator">
                    <f:if condition="!{currentDay} || {f:format.date(date:currentDay.datetime, format:'Y-m-d')} != {f:format.date(date:eventItem.datetime, format:'Y-m-d')}">
                      <f:if condition="{currentDay}">
              </div>
              </f:if>
              {eventItem -> f:variable(name: 'currentDay')}
              <div class="dayrow">
                </f:if>
                <f:render partial="List/ItemEventCalendar" arguments="{eventItem: eventItem,settings:settings,iterator:iterator}" />
                </f:for>
              </div>
              </f:if>
              <div class="monthpaging monthpaging-bottom eventfilterbox-input">
                <f:link.page class="monthpagingLink-prev" title="{f:format.date(date:prevMonth,format:'%B')}" additionalParams="{tx_news_pi1:{overwriteDemand: {month:'{f:format.date(date:prevMonth,format:\'n\')}', year:'{f:format.date(date:prevMonth,format:\'Y\')}'}}}">
                  {f:format.date(date:prevMonth,format:'%B')}
                </f:link.page>
                <f:link.page class="monthpagingLink-next" title="{f:format.date(date:nextMonth,format:'%B')}" additionalParams="{tx_news_pi1:{overwriteDemand: {month:'{f:format.date(date:nextMonth,format:\'n\')}', year:'{f:format.date(date:nextMonth,format:\'Y\')}'}}}">
                  {f:format.date(date:nextMonth,format:'%B')}
                </f:link.page>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  </div>
</f:section>
</html>

