<div id="footerOrientiationMenu" class="footer-orientation-menu">
  <ul class="footer-orientation">
    <f:for each="{menu}" as="item" iteration="iterator">
      <li class="">
        <f:if condition="{item.doktype} == 4 && {item.shortcut_mode} == 0">
          <f:then>
            <f:link.page pageUid="{item.shortcut}" class="footer-orientation-menu-link">
              {item.linktext}
            </f:link.page>
          </f:then>
          <f:else>
            <f:link.typolink parameter="{item.link}" class="footer-orientation-menu-link">
              {item.linktext}
            </f:link.typolink>
          </f:else>
        </f:if>
      </li>
    </f:for>
  </ul>
</div>