{namespace ce=MUG\ContentElements\ViewHelpers}
<noscript>
    <style>
        .trans {opacity:1 !important;}
    </style>
</noscript>
  <div class="row content-block">
    <div class="header-line">
      <div id="logo-page">
        <a href="/">
          <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/logo-meduni-graz.svg')}" alt="" class="logoimg">
        </a>
          </div>
      <div class="metaline">

     <v:menu pageUid="{metaNavId}" showHiddenInMenu="1">
       <f:render partial="MetaNav" arguments="{menu: menu, currentPid: data.uid, cssClass: 'column'}"/>
     </v:menu>
     <div class="metasettings text-medium">
      <v:page.languageMenu defaultLanguageLabel="DE" defaultIsoFlag="de" as="menu" hideNotTranslated="true" labelOverwrite="DE,EN">
        <f:if condition="{menu -> f:count()} > 1">
          <f:then>
            <f:for each="{menu}" key="idx" as="item">
              <f:if condition="{idx} > 0">

                <span class="langsep">|</span>
              </f:if>
              <f:if condition="{item.current} == 0">
                <f:then>
                    <span class="langLink">
                  <a href="{item.url}">
                    {item.label}
                  </a>
</span>
                </f:then>
                <f:else>
                    <span class="langLink langLink-active">
                  <b>{item.label}</b>
                        </span>
                    <div class="langdown"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-arrow-black-down.svg')}" alt="" class="arrow"></div>
                </f:else>
              </f:if>
            </f:for>
          </f:then>
          <f:else>
             <span class="langLink langLink-active">
            <b>{menu.0.label}</b>
                  </span>
          </f:else>
        </f:if>
      </v:page.languageMenu>

     </div>
          <div class="barrier-free-box">
              <span class="barrierspace">|</span>
              <div class="fontsize">
                  <div class="barrierdown"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-arrow-black-down.svg')}" alt="" class="arrow"></div>
                  <span class="fontsizeBTN fontsizeBTN-standard fontsizeBTN-on">A</span>
                  <span class="fontsizeBTN fontsizeBTN-bigger">A+</span>

              </div>
              <div class="contrast">
                  <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-contrast-greenblack.svg')}" alt="" class="icon-contrast icon-contrast-standard contrast-on" >
                  <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-contrast.svg')}" alt="" class="icon-contrast icon-contrast-greenblack " >
              </div>
          </div>
      <v:menu pageUid="{iAmNavId}">
        <f:render partial="IAmNav" arguments="{menu: menu, currentPid: data.uid, cssClass: 'column'}"/>
      </v:menu>


      </div>

      <f:variable name="root" value="{ce:getRoot()}"/>
      <v:menu pageUid="{root.uid}">
        <f:render partial="MainMenu" arguments="{menu: menu, currentPid: data.uid, cssClass: 'column'}"/>
      </v:menu>
    </div>


      <div class="sidebar-icons">

              <f:render partial="Quicksearch" arguments="{_all}" />

          <div class="iconitem iconitemsearch animateAll QuicksearchOpen"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-lupe-green.svg')}" alt="{f:translate(key: 'LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:sidebarIcons.search')}" title="{f:translate(key: 'LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:sidebarIcons.search')}" class="iconsidebar"></div>
          <a href="https://www.instagram.com/medunigraz/" target="_blank"><div class="iconitem iconitemsocial animateAll"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-instagram.svg')}" alt="" class="iconsidebar"></div></a>
          <a href="https://www.facebook.com/medunigraz/" target="_blank"><div class="iconitem iconitemsocial animateAll"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-facebook.svg')}" alt="" class="iconsidebar"></div></a>
          <a href="https://at.linkedin.com/school/medizinische-universit%C3%A4t-graz/" target="_blank"><div class="iconitem iconitemsocial animateAll"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-linkedin.svg')}" alt="" class="iconsidebar"></div></a>
          <a href="https://twitter.com/MedUniGraz" target="_blank"><div class="iconitem iconitemsocial animateAll"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-twitter.svg')}" alt="" class="iconsidebar iconsidebar-twitter"></div></a>

      </div>



  </div>
