<div id="metaNav" class="meta-nav">
    <ul>
    <f:for each="{menu}" as="item" iteration="iterator">
      <f:if condition="{item.doktype}!=42">
        <li class="nav-item animateAll nav-item-level-0 text-medium {f:if(condition:'{item.active}',then:' active')}{f:if(condition:'{item.doktype}==4 && {item.shortcut} == {currentPid}',then:' active')}">
          <a href="{item.link}" class="menu-link menu-link-level0 animateAll{f:if(condition: item.class, then: ' {item.class}')}"{f:if(condition: item.target, then: ' target="{item.target}"')}>
            {item.linktext}
          </a>
        </li>
      </f:if>
    </f:for>
  </ul>
</div>

