<f:variable name="topnewsRendering">
  <f:for each="{topnews}" as="newsItem">
    <div class="spolightItem <f:if condition='{display_type} == 0'>spolightItemAll</f:if><f:if condition='{display_type} == 1'>spolightItemSOnly</f:if>">
      <f:render partial="../News/List/SpotlightItem" arguments="{newsItem: newsItem, settings: {newsDetailPid: newsDetailPid}, iterator:iterator}" />
    </div>
  </f:for>
</f:variable>

<div class="content-part content-part-newsevents <f:if condition='{display_type} == 1'>content-part-newsevents-spotlightonly</f:if>">
  <div class="container">
    <div class="row">
      <div class="news-list-view" id="news-container-{data.uid}">
        <f:if condition="{display_type} == 0">
          <f:for each="{news}" as="newsItem" iteration="iterator">
            <f:render partial="../News/List/Item" arguments="{newsItem: newsItem, settings: {newsDetailPid: newsDetailPid}, iterator:iterator}" />
          </f:for>
          <div class="break"></div>
        </f:if>
        <f:if condition="{display_type} == 1">
          <div class="article article-news trans articletype-0"></div>
        </f:if>
        <div class="article spotlightslider trans">
          <div class="article spotlightsliderInner ">
            <div class="spotlightsliderbox">
              <h3 class="text-bold">
                <f:if condition="{data.subheader}">{data.subheader}</f:if>
              </h3>
              <div class="cycle-slideshow cycle-slideshow-spolights"
                   data-cycle-fx="fade"
                   data-cycle-timeout="0"
                   data-cycle-slides=">div.<f:if condition='{display_type} == 0'>spolightItemAll</f:if><f:if condition='{display_type} == 1'>spolightItemSOnly</f:if>"
                   data-cycle-pager=".<f:if condition='{display_type} == 0'>spolightItemAllpager</f:if><f:if condition='{display_type} == 1'>spolightItemSOnlypager</f:if>"
                   data-cycle-swipe="true"
                   data-cycle-auto-height="container"
                   data-cycle-swipe-fx="scrollHorz"
              >
                <f:if condition="{topnews}">
                  <f:then>
                    <f:format.raw>{topnewsRendering}</f:format.raw>
                  </f:then>
                  <f:else>
                    <f:for each="{assets}" as="item" >
                      <div class="spolightItem <f:if condition='{display_type} == 0'>spolightItemAll</f:if><f:if condition='{display_type} == 1'>spolightItemSOnly</f:if>">
                        <div class="spolightItem-inner">
                          <f:if condition="{item.type} == 4">
                            <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/play-btn.svg')}" alt="" class="videoplayBtn">
                          </f:if>
                          <f:media file="{item}" class="spolightslider-img"/>
                          <div class="spolightItem-desc">
                            <f:if condition="{item.title}">
                              <f:then>
                                {item.title}
                              </f:then>
                              <f:else>
                                {item.name}
                              </f:else>
                            </f:if>
                          </div>
                        </div>
                      </div>
                    </f:for>
                  </f:else>
                </f:if>
              </div>
              <div class="spotslider-pager <f:if condition='{display_type} == 0'>spolightItemAllpager</f:if><f:if condition='{display_type} == 1'>spolightItemSOnlypager</f:if>"></div>
            </div>

            <div class="spotlightsliderInner-after">
            </div>
          </div>
        </div>
      </div>
      <f:if condition="{display_type} == 0">
        <div class="events-list-view" id="news-container-{data.uid}">
          <f:for each="{events}" as="eventItem" iteration="iterator">
            <f:render partial="../News/List/ItemEvent" arguments="{eventItem: eventItem, settings: {eventsDetailPid: eventsDetailPid}, iterator:iterator}" />
          </f:for>
        </div>
      </f:if>
    </div>
  </div>
</div>
