<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="article article-eventcalendar articletype-{eventItem.type}{f:if(condition: eventItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
    <n:excludeDisplayedNews newsItem="{eventItem}"/>
    <div class="eventdatebox">
        <time itemprop="datePublished" datetime="{f:format.date(date:eventItem.datetime, format:'Y-m-d')}">
            <div class="daybox">
                <f:format.date format="d">{eventItem.datetime}</f:format.date>
            </div>
            <div class="monthbox">
                <f:format.date format="%b">{eventItem.datetime}</f:format.date>
            </div>
        </time>
    </div>
    <f:if condition="{eventItem.mediaPreviews}">
        <f:then>
            <div class="news-img-wrap">
                <f:link.action pageUid="{settings.eventsDetailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detailEvents" arguments="{event:eventItem.uid}">
                    <f:alias map="{mediaElement: eventItem.mediaPreviews.0}">
                        <f:if condition="{mediaElement.originalResource.type} == 2">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="400c" height="240c"  />
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 4">
                            <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 5">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="400c" height="240c" />
                        </f:if>
                    </f:alias>
                </f:link.action>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{settings.displayDummyIfNoMedia}">
                <div class="news-img-wrap">
                  <span class="no-media-element">
                    <f:link.action pageUid="{settings.eventsDetailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detailEvents" arguments="{event:eventItem.uid}">
                        <f:image src="{settings.list.media.dummyImage}" title="" alt="" />
                    </f:link.action>
                  </span>
                </div>
            </f:if>
        </f:else>
    </f:if>
    <div class="header">
        <h5 class="text-bold">
            <f:link.action pageUid="{settings.eventsDetailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detailEvents" arguments="{event:eventItem.uid}">
                <span itemprop="headline">{eventItem.title}</span>
            </f:link.action>
        </h5>
    </div>
    <div class="teaser-text">
        <n:removeMediaTags>
            <f:if condition="{eventItem.teaser}">
                <f:then>
                    <div itemprop="description">
                        {eventItem.teaser -> f:format.crop(maxCharacters: 100, respectWordBoundaries:'1') -> f:format.html()}
                        <f:link.action pageUid="{settings.detailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detailEvents" arguments="{event:eventItem.uid}">
                        <span class="morelink">
                           {f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}
                        </span>
                        </f:link.action>
                    </div>
                </f:then>
                <f:else>
                    <div itemprop="description">
                        {eventItem.bodytext -> f:format.crop(maxCharacters: 100, respectWordBoundaries:'1') -> f:format.html()}
                        <f:link.action pageUid="{settings.detailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detailEvents" arguments="{event:eventItem.uid}">
                        <span class="morelink">
                           {f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}
                        </span>
                        </f:link.action>
                    </div>
                </f:else>
            </f:if>
        </n:removeMediaTags>
    </div>
</div>
</html>

