<div class="article spotlightslider trans">
    <div class="article spotlightsliderInner ">
        <div class="spotlightsliderbox">
            <h3 class="text-bold">Spotlights</h3>
            <div class="cycle-slideshow cycle-slideshow-spolights"
                 data-cycle-fx="fade"
                 data-cycle-timeout="6000"
                 data-cycle-slides="> div.spolightItem"
                 data-cycle-pager=".spotslider-pager"
                 data-cycle-swipe="true"
                 data-cycle-auto-height="container"
                 data-cycle-swipe-fx="scrollHorz"
            >
                <div class="spolightItem">
                    <div class="spolightItem-inner">
                        <img src="/fileadmin/_processed_/e/e/csm_meduni-graz-hoersaal_a2f4f0ae61.jpg" alt="" class="spolightItem-img">
                        <div class="spolightItem-desc">#ERASMUSDAYS: Diversity in White Coats</div>
                    </div>
                </div>
                <div class="spolightItem">
                    <div class="spolightItem-inner">
                        <img src="/fileadmin/_processed_/3/9/csm_Bild_5_b80be7102b.png" alt="" class="spolightItem-img">
                        <div class="spolightItem-desc">Das ist ein Bild Text 2</div>
                    </div>
                </div>
                <div class="spolightItem">
                    <div class="spolightItem-inner">
                        <img src="/fileadmin/_processed_/7/a/csm_Bild_7_cfa78e6d18.png" alt="" class="spolightItem-img">
                        <div class="spolightItem-desc">Das ist ein Bild Text 3</div>
                    </div>
                </div>
                <div class="spolightItem">
                    <div class="spolightItem-inner">
                        <img src="/fileadmin/_processed_/3/6/csm_Bild_22_2f1642986f.png" alt="" class="spolightItem-img">
                        <div class="spolightItem-desc">Das ist ein Bild Text 4</div>
                    </div>
                </div>
            </div>
            <div class="spotslider-pager"></div>
        </div>
        <div class="socialsidebar trans">
            <div class="socialsidebar-inner">
                <div class="socialsidebar-icons">
                    <div class="socialsidebar-label">
                        Follow us
                    </div>
                    <a href="https://www.instagram.com/medunigraz/"  target="_blank"  class="iconlink">
                        <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/icon-instagram-light.svg')}" alt="" class="socialicon">
                    </a>
                    <a href="https://www.facebook.com/medunigraz/" target="_blank" class="iconlink">
                        <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/icon-facebook-light.svg')}" alt="" class="socialicon">
                    </a>
                    <a href="https://at.linkedin.com/school/medizinische-universit%C3%A4t-graz/"  target="_blank"  class="iconlink">
                        <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/icon-linkedin-light.svg')}" alt="" class="socialicon">
                    </a>
                    <a href="https://twitter.com/medunigraz"  target="_blank"  class="iconlink">
                        <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/icon-twitter-light.svg')}" alt="" class="socialicon">
                    </a>
                </div>
            </div>
        </div>
        <div class="spotlightsliderInner-after">
        </div>
    </div>
</div>

