<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<n:excludeDisplayedNews newsItem="{newsItem}"/>
<div class="spolightItem-inner">
    <div class="spolightslider-height">
        <!-- media preview element -->
        <f:if condition="{newsItem.mediaPreviews}">
            <f:then>
                <f:link.action pageUid="{settings.newsDetailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detail" arguments="{news:newsItem.uid}">
                    <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                        <f:if condition="{mediaElement.originalResource.type} == 2">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="800c" height="255c" />
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 4">
                            <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 5">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="800c" height="255c" />
                        </f:if>
                    </f:alias>
                </f:link.action>
            </f:then>
            <f:else>
                <f:if condition="{settings.displayDummyIfNoMedia}">
                    <f:link.action pageUid="{settings.newsDetailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detail" arguments="{news:newsItem.uid}">
                        <f:image src="{settings.list.media.dummyImage}" title="" alt=""/>
                    </f:link.action>
                </f:if>
            </f:else>
        </f:if>
        <div class="spolightItem-descnews">
            <div class="header">
                <h5 class="text-bold">
                    <f:link.action pageUid="{settings.newsDetailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detail" arguments="{news:newsItem.uid}">
                        <span itemprop="headline">{newsItem.title}</span>
                    </f:link.action>
                </h5>

            </div>

            <!-- teaser -->
            <div class="news-teaser-text">
                <n:removeMediaTags>
                    <f:if condition="{newsItem.teaser}">
                        <f:then>
                            <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: 150, respectWordBoundaries:'1') -> f:format.html()}
                                <f:link.action pageUid="{settings.newsDetailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detail" arguments="{news:newsItem.uid}">
                                    <span class="morelink">{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}</span>
                                </f:link.action>
                            </div>
                        </f:then>
                        <f:else>
                            <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: 150, respectWordBoundaries:'1') -> f:format.html()}
                                <f:link.action pageUid="{settings.newsDetailPid}" extensionName="News" pluginName="pi1" controller="News"  action="detail" arguments="{news:newsItem.uid}">
                                    <span class="morelink">{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}</span>
                                </f:link.action>
                            </div>
                        </f:else>
                    </f:if>
                </n:removeMediaTags>
            </div>
        </div>
    </div>
</div>
</html>
