.breadcrumbline {
  position: relative;
  z-index: 99;

  .breadcrumbbox {
    max-width: 66%;
    position: absolute;
    margin: 0px 0 0px -1px;
    font-size: 13px;
    top: -30px;
    a {  max-width:auto;
      display: inline-block;
      float: right;
      margin: 0 10px 0 0;
      color:$grey-darker;
    }
    a:hover .breaditem-name {
      text-decoration:underline;
    }
    a .breaditem-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width:100%;
      display: inline-block;
      float: left;
    }
    a:first-child .breaditem-name {
      overflow: visible;
      text-overflow: inherit;
    }
    a:after {
      content:" / ";
      position: absolute;
      margin: 0 0 0 2px;
    }
    a:first-child:after {content:"  "; display:none;}
  }

}


.breadcrumb-detailsite{
  .breadcrumbline .breadcrumbbox {
    max-width: 66%;
    position: absolute;
    margin: 0px 0 0px 0%;
    font-size: 13px;
    top: 15px;
  }
}
