.ce-linklist {

  .morelink {
    color:$green-dark;
  }
  .link::after {
    content: "";
    display: block;
    float: left;
    position: absolute;
    width: 13px;
    height: 30px;
    background-image: url("#{$icon-path}/icon-arrow-black-right.svg");
    background-repeat: no-repeat;
    right: 0%;
    top: 0px;
    margin: 0 -15px 0 0px;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    -o-transition: all 350ms;
    transition: all 350ms;
  }

  .link:hover:after {
    margin: 0 -20px 0 0px;
  }
  .link-list-box-wrapper {
    float:left;
    width:100%;

  }
   .link-list-box {
    width: 75%;
    margin: 0px auto 0px auto;
  }
  .ce-link {
    width: 40%;
    float: left;
    position: relative;
    min-height: 44px;
    margin: 0px 5% 15px 5%;
  }

  .ce-link:nth-child(odd) {float:right;}
  .link-list-items {
    width: 100%;
    float: left;
    position: relative;
  }

  .linklabel {
    display:block;
    float:left;
    width:80%;
  }

}


.ce-linklist.addmarkerspace {

  .rowborder-top {
    padding: 110px 0 0 0;
  }
  .box-balken {
    top: -100px;
  }

}

