.ce-contact-box {
  margin: 0px 0 0px 0;
  .name {
    display: block;
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
  }
  .headline{
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 8px 0;

  }
  .contact-data {
    width: 100%;
    padding: 0 0 30px 0;
  }
  .contact-text {
    width: 61%;
    float: left;
    margin: 20px 0 0 3%;
  }
  .contact-image {
    float: left;
    width: 31%;
    margin: 15px 0 0 3%;
    position:relative;
    padding: 0 0 20px 0;
    text-align: center;
    .box-balken {
    position: relative;
      top: inherit;
      margin: -40px 0 5px 0;
    }
  }
  .caption {
    display: block;
    width: 100%;
    float: left;
  }
  .cvlink {
    margin: 15px 0 0 0;
  }
  .cvlink a:hover {
    color:$green-dark;

  }
}

.ce-contact-noimg {
  .ce-contact-box {
    .contact-text  {
    width: 94%;
  }
    .contact-image {
      margin: 0px 0 0 0%;
      position: absolute;
      right: 3%;
      top: 84px;
    }

     .cvlink {
      margin: 25px 0 0 0;
    }

}

  .ce-contact-box.headline-small {

    .contact-image {
      top: 49px;
    }

  }

}






