/* ....................................................................................... 767 */
@media screen and (max-width: 767px) {
  .ce-text {
    margin: 10px 0 10px 0;
  }
  .lowspace .ce-text .row {
    width: 100%;
  }

  .standard-leadin .ce-text {
    margin: 0px 0 0px 0;
  }
}


