.content-block-ce-accordion {

.ce-accordion-box {  margin: 50px 0;}

  .accordion-item  {
    margin: 0 0 0px 0;
    padding: 18px 0 15px 0;
    position:relative;
    float: left;
    width: 100%;



  }

  .accordion-item-On {
    background:$grey-superlight;
    .arrow {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
      top:17px;
    }
  }




  .accordion-title {
    cursor:pointer;
    text-transform:uppercase;

  }
  .accordion-title h3 {
  font-size: 18px;
    margin-left: 2%;
    width:90%;
}


  .accordion-text {
    display: none;
    width:90%;
    margin: 20px 0 0 4%;
    width: 90%;

  }
  .arrow {
    display: block;
    position: absolute;
    right: 10px;
    top: 27px;
  }
}
