.ce-link-button {
  .button {
    margin: 0px 0 0px 0;
    background-color: transparent;
    min-width: 22.5%;
  }

  .button:hover {
    background-color: $grey-darker;
    color:#ffffff;
  }
}

.ce-link-button.bg-grey-light {
  padding:20px 0;
  .button {
  margin: 0px 0 0px 0;
  }
}




