$withe : #ffffff;
$black : #000000;
$green-dark : #007934;
$green-light : #34b233;
$grey : #cccccc;
$grey-darker : #666666;
$grey-middle : #BFBFBF;
$grey-light : #eeeeee;
$grey-superlight : #f5f5f5;
$orange : #EF783D;
$primary : $green-dark;

.bg-green-dark {background:$green-dark ;}
.bg-grey-light {background:$grey-light ;}

.bg-grey-gradiant {
  background: -moz-linear-gradient(top,  rgba(102,102,102,0) 0%, rgba(102,102,102,0.65) 100%);
  background: -webkit-linear-gradient(top,  rgba(102,102,102,0) 0%,rgba(102,102,102,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(102,102,102,0) 0%,rgba(102,102,102,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00666666', endColorstr='#a6666666',GradientType=0 );
}
