/* ....................................................................................... 767 */
@media screen and (max-width: 767px) {
.ce-newsletter .newsletter-formbox {
  float: left;
  width: 100%;
}
  .ce-newsletter .headline {
    width: 100%;
    text-align: center;
  }
}