/* ....................................................................................... 1240 */
@media screen and (max-width: 1240px) {

  .content-block-eventsdetail .eventmeta-row {
    font-size: 14px;
  }
}



/* ....................................................................................... 1023 */
@media screen and (max-width: 1023px) {
.content-block-eventsdetail .sidebar-default .linktoall .morelink {
  font-size: 11px;
}
}

/* ....................................................................................... 767 */
@media screen and (max-width: 767px) {
  .content-block-eventsdetail .Day {
    font-size: 45px;
      margin: 5px 0 0 0;
  }
  .content-block-eventsdetail .Month {
    margin: 20px 0 0 0;
    font-size: 20px;
    padding: 10px 0 0 0;
  }
 .frame-type-list  .content-block-eventsdetail  .row {
    width: 95%;
  }



}
