/* ....................................................................................... 1492 */
@media screen and (max-width: 1492px) {
.hl-big {
  font-size: 45px;
  line-height: 55px;
}
}

/* ....................................................................................... 1240 */
@media screen and (max-width: 1240px) {

  .hl-big {
    font-size: 26px;
    line-height: 36px;
  }
  h1, .h1 {
    font-size: 22px;
    line-height: 28px;
  }
  h2, .h2 {
    font-size: 18px;
    line-height: 26px;
  }
  .text-mega {
    font-size: 26px;
    line-height: 36px;
  }
}

/* ....................................................................................... 1024 */
@media screen and (max-width: 1024px) {
blockquote {
  font-size: 20px;
  line-height: 30px;
}

  .hl-big {
    font-size: 22px;
    line-height: 32px;
  }

}