.text-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.text-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
h1, .h1 {
  font-size: 32px;
  line-height: 44px;
}
h2, .h2 {
     font-size: 28px;
     line-height: 40px;
   }
.hl-big {
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
}
.text-mega {
  font-size: 70px;
  line-height: 70px;
}
