.metaline {
  position: absolute;
  right: 0px;

  ul {
    margin:0px;
    padding:0px;
    list-style-type: none;
  }

}
.meta-nav {
  float: left;
  margin: -8px 0 0 0;
    li {
      float:left;
      margin: 0 25px 0 0;
      a { color:#A2A2A2;}
      a:hover { color:$green-dark;}
    }
}
.metasettings {
  float: left;
  margin: -8px 25px 0 20px;
  color:#A2A2A2;
  a { color:#A2A2A2;}
  a:hover { color:$green-dark;}
  b { color:$green-dark; }
}

.i-am-nav {
  float:left;
  width: 190px;
  ul {display:none;}
  .caption {
    display: block;
    position: absolute;
    z-index: 99;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    top: 22px;
    left: 55px;
  }
  .caption:after {content:" ..."  }
}
.iam-btn {
  width: 190px;
  float: left;
  position: relative;
  overflow: hidden;
  color: #fff;
  height: 65px;
  margin: -31px -20px 0 0;
  cursor: pointer;

}
.iambgbtn {
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0px;
  width: 100%;
  height: 165px;
  -moz-transition: opacity 550ms;
  -o-transition: opacity 550ms;
  transition: opacity 550ms;
  top: -37px;
}
.iam-nav-On .iambgbtn {
  opacity:0.1;
}
.iamlinkbox {
  position: absolute;
  z-index: 99999;
overflow:hidden;
  right: 0px;
  width: 0px;
  top: -30px;
  height:600px;
  pointer-events:none;
  -webkit-transition: width 550ms ;
  -moz-transition:width 550ms ;
  -o-transition:width 550ms ;
  transition: width 550ms ;
}
.iam-nav-On .iamlinkbox   {
  pointer-events:all;
  width: 430px;
  z-index: 99999;
  opacity:1;
}
.iam-btn-listheader {
  width: 440px;
  float: left;
  position: relative;
  overflow: hidden;
  color: #fff;
  height: 260px;
  margin: 0px -20px 0 0;
    .caption {
      display: block;
      position: absolute;
      z-index: 99;
      width: 100%;
      font-size: 16px;
      text-transform: uppercase;
      top: 27px;
      left: 55px;
    }
    .caption:after {content:" ..."  }
  }
.iambgbtn-open {
  display: block;
  position: absolute;
  top: -136px;
  left: 0px;
  width: 606px;
  max-width: 999999px;
  height: auto;
  margin: 0 0 0 -0.5px;
}
.iamlinksitelist {
  width: 440px;
  float: left;
  background:  $green-dark;
  position: absolute;
  left: 0px;
  top: 75px;
  -webkit-box-shadow: -6px 8px 15px 0px rgba(50, 50, 50, 0.14);
  -moz-box-shadow:    -6px 8px 15px 0px rgba(50, 50, 50, 0.14);
  box-shadow:         -6px 8px 15px 0px rgba(50, 50, 50, 0.14);

  .nav-item {
    color: #E6FFED;
    width: 80%;
    float: left;
    margin: 10px 0 0px 53px;
    border-bottom: 0.5px #83B691 solid;
    padding: 10px 0 20px 0;
  }
  .nav-item:last-child {  border-bottom:0px;}
  a  {
    opacity:0.8;
    color:#ffffff
  }
  a:hover  {
    opacity:1;
    color:#ffffff
  }
}
.iambgbtn-close {
  position: absolute;
  display: block;
  z-index: 999999;
  right: 20px;
  top: 22px;
  cursor:pointer;
  padding: 0px 20px 0px 20px;
  -webkit-transition: right 350ms;
  -moz-transition:right 350ms;
  -o-transition:right 350ms;
  transition: right 350ms;
}

.iambgbtn-close:hover {right: 17px; }


.meta-nav li {
  margin: 0 20px 0 0;
}
.meta-nav li:last-child {margin-right:0px; }

.standard-leadin {
  .ce-text {
    margin: 0px 0 -40px 0;
  }

}

.standard-leadin.content-part-nobottomspace {
  .ce-text {
    margin: 0px 0 -60px 0;
  }
}
.iam-nav-On .sidebar-icons  {
  z-index:99;
opacity:0;
}
.sidebar-icons {
  opacity:1;
  position: fixed;
  right: 0px;
  background:$grey-light;
  width:54px;
  text-align: center;
  top: 158px;
  z-index:9999999;
  -webkit-transition: opacity 350ms;
  -moz-transition:opacity 350ms;
  -o-transition:opacity 350ms;
  transition: opacity 350ms;

  .iconitem {
    width: 100%;
    height: 54px;
    overflow: hidden;
    .iconsidebar {
      display: block;
      margin: 15px auto 0 auto;
      width: 22px;
    }

  }
  .iconitemsocial {
    height: 45px;
    .iconsidebar {
      margin: 11px auto 0 auto;

    }
    .iconsidebar-twitter {
      margin: 13px auto 0 auto;
    }
  }
  .iconitem:hover {
    background: $grey-middle ;
  }
  .iconitemsearch {
    cursor:pointer;
    background: $grey-middle;
    opacity:0.65;
  }
  .iconitemsearch:hover {
    opacity:1;
  }

  .box-quicksearch {
    position: absolute;
    z-index: -1;
    background: $grey-superlight;
    right: 0px;
    top: 0px;
    height: 235px;
    width: 0px;
    overflow: hidden;
    opacity:0;


    .box-quicksearch-inner {
      position:relative;
      width:84%;
      margin: 50px 0 0 8%;

      .quicksearch-submit {
        border: 0px;
        background-color: transparent;
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        cursor: pointer;
        text-decoration: underline;
        background-image: url("img/icon-lupe-green.svg");
        background-repeat: no-repeat;
        padding: 0 0 0 30px;
        float: right;
      }
      .search-selectbox {
        margin: 15px 0 25px 0;
      }
      .search-selectbox-item {
        float: left;
        width: auto;
        margin: 0px 10px 0px 0;
        &:last-child {
          margin-right:0px;
        }
      }
      .input {
        background: none;
        border: 0px;
        border-bottom: 1px solid #666;
        color: #000;
        width: 100%;
        padding: 0 0 15px 0;
        font-style: italic;
      }
      ::-webkit-input-placeholder {
        color: #000000;
        opacity: 1;
      }
      :-ms-input-placeholder {
        color: #000000;
        opacity: 1;
      }
      ::placeholder {
        color: #000000;
        opacity: 1;

      }
      .quicksearchclose {
        position: absolute;
        right: 0px;
        top: -20px;
        cursor: pointer;
        opacity: 0.5;
        width: 25px;
        height: 25px;
        &:hover {
          opacity: 1;
        }
      }

    }


  }


}
.box-quicksearch-on  {
.box-quicksearch {
 opacity:1;
  z-index: 9999;
  width: 520px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.15);
  -webkit-transition: opacity 550ms;
  -moz-transition:opacity 550ms;
  -o-transition:opacity 550ms;
  transition: opacity 550ms;

}

}

.langdown {
  display:none;
}




