/* ...........................................................................  767 px */
@media screen and (max-width: 767px) {
  .content-header-default .ce-header-slider-element .sliderbgbalken {
    margin: 0px 0 0 -70px;
    width: 60px;
  }
  .content-header-default .contenblock-newsteaser0-blende {
 display:none;
  }


  .content-header-default  .ce-header-slider {
    height: auto;
  }
}