/* ...........................................................................  1830 px */
@media screen and (max-width: 1830px) {
  .sidebar-icons {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.1);
  }
}
/* ...........................................................................  1314 px */
@media screen and (max-width: 1314px) {
.sidebar-icons {
  position: absolute;
}
}
/* ...........................................................................  1023 px */
@media screen and (max-width: 1023px) {
  #logo-page {
    margin: 10px 0 0 0;
  }
  .i-am-nav {
    width: 150px;
    .caption{
      width: 100px;
      left: 41px;
    }
  }
  .iam-btn {
    width: 150px;
    height: 106px;
    margin: -31px 0px 0 0;
  }
  .iambgbtn {
    top: -56px;
  }
  .sidebar-icons {display:none;}
}
/* ...........................................................................  767 px */
@media screen and (max-width: 767px) {
  #logo-page {
    margin: 0px 0 0 0;
    width: 120px;
  }
  .header-line {
    margin: 30px 0 0 0;
  }
  .metaline{
  width: 100%;
}
.metaline .meta-nav {display:none;}
  .mobnavOn .metaline .meta-nav {
    display: block;
    position: absolute;
    top: 125px;
    background: #F8F8F8;
    border-top: 0.5px solid #cccccc;
    border-tbottom: 0.5px solid #cccccc;
    width: 100%;
    padding: 20px 0 20px 0;
  }
  .i-am-nav {
    width: 130px;
    margin: -79px 0 0 0;
    float: right;
  }
  .iambgbtn {
    bottom: 13px;
    left: 33px;
  }
  .iam-btn {
      margin: 39px  0px 0 0;
  }
  .metasettings {
    margin: -30px 0px 0 10px;
    background: #eee;
    padding: 14px 10px 0 10px;
    height: 49px;
    float: left;
    position: absolute;
    left: inherit;
    overflow: hidden;
    width: 38px;
    right: 226px;
  }

  .langswitch-open .metasettings {
    height: auto;
  }

  .iam-nav-On .iamlinkbox {
    width: 360px;
    -webkit-box-shadow:  18px 31px 21px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    18px 31px 21px 0px rgba(50, 50, 50, 0.15);
    box-shadow:        18px 31px 21px 0px rgba(50, 50, 50, 0.15);

  }
  .iam-btn-listheader {
    width: 360px;
  }

  .meta-nav li {
    margin: 0 0px 0 6px;
}
  .meta-nav li a:hover {  color: $orange;  }
  .meta-nav li a:before {
    color: $orange;
    content:">";
    font-size: 11px;
  }
  .iam-btn {
    width: 130px;
    height: 60px;
    margin:  39px -20px 0 0;
  }
  .i-am-nav .caption {
    font-size: 15px;
    left: 51px;
    top: 25px;
  }
  .sidebar-icons {
    display:block;
    top: 0px;
    right: 115px;
    width: 40px;
    a {display:none;}

    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0);
    -moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0);
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0);
  }
  .sidebar-icons .iconitem .iconsidebar {
    margin: 16px auto 0 auto;
    width: 18px;
  }
  .sidebar-icons .iconitemsearch {
    background: #eee;
  }
  .sidebar-icons .iconitem {
    height: 49px;
  }
  .logoimg {
    width: 82px;
    margin: -12px 0 18px 0;
  }
  .box-quicksearch-on .box-quicksearch {
    width: 100%;
    left: 0px;
    position: fixed;
    height: auto;
    padding: 0 0 30px 0
  }
  .sidebar-icons .box-quicksearch .box-quicksearch-inner .search-selectbox-item {
    width: 46%;
    margin: 0px 10px 8px 0;
    text-align: left;
    label {
      display: inline-block;
      margin-bottom: 0;
    }
    input[type="checkbox"] + label::before {
       margin: 5px 10px 0 0;

    }
  }

  .langsep {display:none;}
  .langdown {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    overflow: hidden;
    text-align: center;
    padding: 22px 0 0 0;
    cursor: pointer;
    .arrow {
      width: 15px;
    }
  }

  .langswitch-open  .langdown {
top:inherit;
    bottom: -22px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);

  }


  .langLink {
      display: block;
      width: 100%;
      padding: 0px 0 10px 0;
      float: left;
      text-align: center;
      margin: 33px 0 20px 0;
      position: relative;
    font-size: 13px;
    }



  .langLink.langLink-active {
    position: absolute;
    left: 0px;
    margin: 0px 0 20px 0;
    top: 8px;
  }
  body.contrast-greenblack .header-line .logoimg {
    margin: -30px 0 20px -10px;
    width: 100px;
  }
}