/* ....................................................................................... 1024 */
@media screen and (max-width: 1024px) {
  .hoverimage-item {
    h2, .h2 {
      min-height: 64px;
      line-height: 32px;
    }

  }
}
/* ....................................................................................... 767 */
@media screen and (max-width: 767px) {
  .content-part.ce-link-tile .headline {
    margin: 0px 0 10px 0;
  }
  .hoverimage-item {
    h2, .h2 {
      font-size: 18px;
      line-height: 20px;
    }

  }
  .hover-part-text {
    height: 60px;
    min-height: 60px;
    bottom: 0;
  }
  .hoverimage-item:hover .hover-part-text {
    bottom: 0;
    height: auto;
    min-height: 60px;
  }
  .hover-part-text .text {
    height: auto;
    font-size: 14px;
    line-height: 16px;
    padding: 0 0 5px 0;
    br {display:none}
  }
  .content-part.ce-link-tile {
    margin: 50px 0 50px 0;
  }

  .hover-part-text {
    height: auto;
    min-height: 150px;
  }
  .ce-link-tile .row {
     width: 100%;
    display: block;
    .col-6 {

        width: 100%;
        max-width: 100%;
    }

    }
}


