/* ....................................................................................... 1240 */
@media screen and (max-width: 1240px) {
  .spotnewsbox .header h3 {
    font-size: 22px;
    line-height: 28px;
  }
  .spotnewsbox {
    margin: 30px 0 30px 0;
  }
}
/* ....................................................................................... 1023 */
@media screen and (max-width: 1023px) {
  .news-overview-list {
    margin: 0px 0 0 0;
  }
  .news-overview-list .article-news:nth-child(2), .news-overview-list .spotnewsbox {
    margin-top: 30px;
  }
}
/* ....................................................................................... 767 */
@media screen and (max-width: 767px) {
.spotnewsbox .news-img-wrap {
  width: 100%;
}
  .spotnewsbox .header {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .spotnewsbox .teaser-text {
    width: 100%;
    margin: 0 0 0 0%;
  }
  .news-overview-list .article-news {
    width: 100%;
    margin: 1px 0 50px 0;
  }
  .page-news .content-block {
    width: 95%;
    margin: 0 auto;
  }
  .frame-type-list  .standard-leadin-newsoverview .row {
    width: 100%;
  }

  .page-news  .sidebar-filterbox {
    margin: 0 0 0 0;
  }
  .news-overview-list .article-news {
    width: 90%;
    margin: 11px 0 50px 5%;
    float: left;
  }
  .news-overview-list .spotnewsbox .news-img-wrap {
    height: auto;
  }
  .news-overview-list .article-news:nth-child(2) {
    margin-top: 0px;
  }
}