.news-single {
  min-height: 540px;
.image-size, .file-size, .download {
  display:none;
}
.news-list-date {
  color: $green-dark;
  display: block;
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
}

  .standard-leadin .ce-text {
    margin-bottom: 0px;
  }

}