.submenburgerBTN-x, .submenburgerBTN {
  display:none;
}


.submenu-box {
  font-family: "Ubuntu", sans-serif;
    margin: -110px 0 0 0;
  .quicklinks-box {
    padding: 20px 0 5px 0;
  }

  .nav-item-level-0 > a {
    font-weight:700;display: block;
    width: 95%;

  }
  .nav-item-level-0 > a:hover {
    color:$green-dark ;
  }
  .nav-item-level-0.nav-item-ON > a, .nav-item-level-0.active > a {
    color:$green-dark ;
}

  #subMenu {
    width: 90%;
    margin: 0 auto;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }

  .nav-item-level-1 {
    float: left;
    width: 100%;
    margin: 5px 0 0 0;
  }

  .nav-item-level-0 {
    float: left;
    width: 100%;
    border-bottom: 2px solid #000;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    position:relative;
  }
  .nav-item-level-0:last-child {  border-bottom: 0px solid #000;  margin: 0 0 0px 0;}





  .subnavopenBTN {
    width: 22px;
    height: 27px;
    display: block;
    position: absolute;
    right: 0px;
    top: -1px;


    img.subnavbox-arrowplus {
      display:none;
    }


  }

  .subsubinside  .subnavopenBTN  {
    img.subnavbox-arrowplus {
      display: block;
      width: 25px;
      margin: 0 0 0 -6px;
    }
    img.subnavbox-noarrowplus {
      display:none;
    }
  }



  li.active  .subnavopenBTN { cursor:default; opacity: 0.1 !important;}

  .nav-item-level-1 {
    float: left;
    width: 100%;
    margin: 5px 0 0 0;
  }
  .sub-sub-menu {
    display:none;

  }

  .activeLi, .nav-item-level-0.active  {
    .sub-sub-menu {
      display:block;
  }

.subnavbox-arrow {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}

  }


  .sub-sub-menu {
    .nav-item-level-1 a {
      padding: 0 0 0 15px;
      position: relative;
      display: block;
      margin: 5px 0 0 5px;
      font-size: 16px;
      line-height: 20px;

    }

    .nav-item-level-1 a:before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("#{$icon-path}/icon-arrow-black-right.svg");
      background-repeat: no-repeat;
      width: 10px;
      height: 20px;
      left: 0px;
      top: 2px;
      background-size: 100%;
    }
    .nav-item-level-1 .subnavopenBTN {
      display:none;
    }
  }

}
