/* ....................................................................................... 1240 */
@media screen and (max-width: 1240px) {
  .ce-offers .elements .ce-offer .col-img .col-text-inner, .ce-offers .elements .ce-offer .col-text .col-text-inner {
    width: 90%;
    float: left;
    margin: 0 0 0 5%;
  }
  .ce-offers .elements .ce-offer:nth-child(2n) .col-text .col-text-inner {
    width: 90%;
    float: left;
    margin: 0 0 0 5%;
  }
}
/* ....................................................................................... 1024 */
@media screen and (max-width: 1024px) {
.ce-offers .box-balken {
  top: -14px;
}
}
/* ....................................................................................... 767 */
@media screen and (max-width: 767px) {
  .ce-offers .headline {
    margin: 20px 0 20px 0;
  }

  .ce-offers .ce-offer {
    margin: 0 0 40px 0;
  }
  .ce-offers .elements .ce-offer .col-img .col-text-inner, .ce-offers .elements .ce-offer .col-text .col-text-inner,
  .ce-offers .elements .ce-offer:nth-child(2n) .col-text .col-text-inner
  {
    margin-top: 20px;
  }
  .content-block-ce-offers {
    margin: 20px auto 20px auto;
  }
  .content-block-ce-offers.bg-grey-light .headline-section {
    margin-top: 20px;
  }
  .ce-offers .headline-section {
    margin-bottom: 20px;
  }
  .ce-offers .elements .ce-offer:nth-child(2n) .col-text .col-text-inner {
    width: 100%;
    float: left;
    margin: 20px 0 0 0%;
  }

  .content-block-ce-offers.bg-grey-light .ce-offer .col-text .col-text-inner,  .content-block-ce-offers.bg-grey-light .ce-offer:nth-child(2n) .col-text .col-text-inner {
    width: 90%;
    float: left;
    margin: 20px auto 0 5%;
  }
}
