*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -msbox-sizing: border-box;
}
html,body {
  margin:0px;
  padding:0px;
  font-family:'Trebuchet W01 Regular', sans-serif;
  font-size:16px;
  line-height:22px;
  min-height:101%;
  color:$black;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-wrapper {
  position:relative;
  width: 100%;
  min-height:100%;
}
#logo-page {
   float: left;
 }
.header-line {position:relative; width:100%; float:left; margin:30px 0; z-index:9999999;}
a.textlink:hover {text-decoration:underline;}
.headline-imageteaseritem .text {
  width: 98%;
}
.text ul, .accordion-text ul, .text ol,  .accordion-text ol {
  margin: 10px 0 10px 0;
  padding:0px;
  list-style-type: none;
  width: 100%;
  float: left;

}
.text ol, .accordion-text ol {
  list-style-type: decimal;
}
.text ul li, .text ol li, .accordion-text ul li, .accordion-text ol li {
  position: relative;
  width: 95%;
  float: left;
  padding: 0 0 10px 30px;
  margin:0 0 10px 0;
}
.text ol li, .accordion-text ol li {
  padding-left: 10px;
  margin-left: 20px;
}
.text ul li:before, .accordion-text ul li:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  overflow: hidden;
  background-image: url("img/icon-arrow-black-right.svg");
  background-repeat: no-repeat;
  left: 0px;
  top: 2px;
  background-size: 100% 100%;
}
