.sidebar-search {
  margin: 95px 0 0 0;
  .info-box {
    top: 0;
  }
  .greenbox .infobox-inner {
    height: 220px;
    overflow: hidden;
  }
}

.tx-indexedsearch-info-noresult,
.searchresultlist
{
  min-height: 650px;
}
.tx-indexedsearch-res {
  width: 100%;
  float: left;
  border-bottom: 1px solid #707070;
  margin: 50px 0 0 0;
  padding: 0 0 25px 30px;
  position:relative;
  h3, h3 a {
    width: 100%;
    padding: 0 40px 0 0;
    position: relative;
    margin: 0px;
    font-weight: 600;
    color:$green-dark;
  }

  .searchresult-icon {
    display:block;
    position:absolute;
    left:0px;
    top:-2px;
  }

}


.tx-indexedsearch-searchbox-sword{
  background: none;
  border: 0px;
  border-bottom: 2px solid #fff;
  color: #fff;
  width: 115%;
  padding: 0 0 20px 0;
  font-style: italic;

}
::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
::placeholder {
  color: #fff;
  opacity: 1;

}
#tx-indexedsearch-searchbox-button-submit {
  border: 0px;
  background: #31972A;
  width: 33px;
  height: 33px;
  text-align: center;
  text-indent: -170px;
  position: absolute;
  right: 0%;
  top: -5px;
  background-image: url("#{$icon-path}/icon-lupe.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.search-selectbox {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
  font-weight: 400;
}
.search-selectbox-item {
  float: left;
  width: 100%;
  margin: 0px 0 0px 0;

  .checkbox  {
    float: left;
    margin: 6px 10px 0 0;
  }
}

.result-section-hl {
  width: 100%;
  float: left;
  border-bottom: 2px solid #000;
  margin: 40px 0 0 0;
}

.tx-indexedsearch-browsebox {

  ul {
    margin: 20px 0 20px 0;
    padding: 0px;
    width: 100%;
    text-align: center;
    li {
      float: none;
      displaY: inline-block;
      position: relative;
      width: auto;
      padding: 0 0 0px 0px;
      margin: 20px 5px 20px 5px;
      &:before {display:none}
      &:last-child {
        text-indent: -9999px;
        background-image: url("#{$icon-path}/arrow-left-green.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 20px;
        height: 24px;
        margin: 0px 0px 0px 10px;
      }
      &:last-child  a { display:block; width: 20px;  height: 24px;  }
    }
  }

}

.tx-indexedsearch-browsebox-footer {
  width: 100%;
  float: left;
  margin: 80px 0 80px 0;
  text-align: center;
  .arrow-pagging {
    margin: 0 15px 0 15px;
  }
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label::before {
  width: 16px;
  height: 16px;
  border-radius: 0px;
  border: 1px solid #000000;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin: 3px 10px 0 0;
  cursor: pointer;
}
input[type="checkbox"]:checked + label::before {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: $green-dark;
  border: 1px solid $green-dark;
}

.tx-solr-search-form {
  .search-selectbox {
    margin: 15px 0 25px 0;
  }

  .search-selectbox-item {
    float: left;
    width: auto;
    margin: 0 10px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
