/* ...........................................................................  1492 px */
@media screen and (max-width: 1492px) {
  .sidebar-default  .quicklinks-headline {
    max-height: 50px;
    line-height: 22px;
    margin-bottom: 5px;
  }
}
/* ...........................................................................  1024 px */
@media screen and (max-width: 1024px) {
.sidebar-default .greenbox .teaser {
  font-size: 14px;
  line-height: 16px;
}

 .sidebar-default  .quicklinks-headline {
    height: auto;
    max-height: inherit;
    line-height: 15px;
   margin: 15px auto 5px auto;
  }


}
/* ...........................................................................  1023 px */
@media screen and (max-width: 1023px) {
.page-news-overview .sidebar-default .info-box {
  top: -127px;
}
}
/* ...........................................................................  767 px */
@media screen and (max-width: 767px) {
  .sidebar-default {
    top: 0;
  }
  .sidebar-default .greenbox {
    position: relative;
    top: inherit;
  }
  .sidebar-default .greenbox .infobox-inner {
    height: auto;
    min-height: 1px;
  }
  .sidebar-default .info-box {
    right: 0px;
    position: relative;
    top: inherit;
    width: 100%;
  }
  .sidebar-default .linktoall {
    padding: 5px 0 12px 0;
  }
  .sidebar-default .linktoall .morelink {
    width: 40%;
    float: left;
    text-align: left;
    margin: 5px 10% 0px 0;
  }
}