/* ...........................................................................  1776 px */
@media screen and (max-width: 1776px) {
  .content-block {
    width: 98%;
  }
}


/* ...........................................................................  1600 px */
@media screen and (max-width: 1600px) {
  .section-name {
    left: -40px;
  }
}



/* ...........................................................................  1400 px */
@media screen and (max-width: 1400px) {
  .section-name {
    left: -50px;
  }
  .section-name-Inner {
    width: 128px;
    font-size: 11px;
  }
}

/* ...........................................................................  1330 px */
@media screen and (max-width: 1330px) {
  .section-name {display:none}
}

/* ...........................................................................  1024 px */
@media screen and (max-width: 1024px) {
.box-balken img {
  width: 15px;
  height: 35px;
}
  .datepicker {
    display:none !important;
  }
}

/* ...........................................................................  767 px */
@media screen and (max-width: 767px) {
  html, body {
    font-size: 16px;
    line-height: 26px;
  }
  .content-block {
    width: 95%;
  }

  .col {
    min-width: 100%;
    max-width: 100%;
  }
  .box-balken {
    top: -35px;
  }

  .box-balken.box-balken-hl {
    top: -35px;
  }

  .button {
    margin: 30px 0 0px 0;

  }
  .content-block-marker {
    display:none ;
  }
  .content-part {
    margin-top: 20px;
  }
  .content-part-morespace {
    margin-top: 50px !important;
    margin-bottom: 65px !important;
  }
  .morelink-arrow {
    margin: 0 0 0 18px;
  }

  .bgbox {
    top: -20px;
  }
  .content-block-3.C-Low .container > .row, .content-block-4.C-Low .container > .row, .content-block-5.C-Low .container > .row {
    width: 100%;
  }
  .standard-leadin.content-part-nobottomspace .ce-text {
    margin: 0px 0 0px 0;
  }
  .text ul li, .text ol li, .accordion-text ul li, .accordion-text ol li {
    width: 95%;

  }
  .contenttable, .table-bordered, .table-primary, .table-secondary, .table-striped {
    width: 100%;
    overflow: auto;
    display: block;
    td {
      min-width: 160px;
    }
  }


  .text-right .linktext {
    text-align: left !important;
  }
  input::-webkit-calendar-picker-indicator {
    display: none;
  }
  input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
  }
}
