*:focus, *:active  {
  outline: none !important;
  box-shadow: 0 0 0 0rem rgba(0,123,255,0) !important;
}
input:required {
  box-shadow:none;
}
input:invalid {
  box-shadow:none;
}
.text-bold {font-family: 'Ubuntu', sans-serif; font-weight:700;}
.text-center {text-align:center;}
.text-left {text-align:left;}
.text-right {text-align:right;}
.uppercase {text-transform:uppercase}
.clear {
  float: left;
  width: 100%;
  height: 1px;
  clear: both;
}
.contenttable, .table-bordered, .table-primary, .table-secondary, .table-striped  {
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background:none;
  background-color:transparent;
}
.table-secondary {
  background-color:$grey-light;
}
.contenttable td {
  border: 0px;
  margin: 0px;
  padding: 10px 10px 10px 0px;
  vertical-align:top;
}
.table-bordered td {
  border: 1px solid $grey-middle;
  margin: 0px;
  padding: 10px;
  vertical-align:top;
}
.table-primary td {
  border: 1px solid $primary;
  margin: 0px;
  padding: 10px;
  vertical-align:top;
}
.table-secondary td {
  border: 3px solid $withe;
  margin: 0px;
  padding: 10px;
  vertical-align:top;
}
.table-striped td {
  border: 3px solid $withe;
  margin: 0px;
  padding: 10px;
  vertical-align:top;
}
.table-striped tbody tr:nth-of-type(2n+1) {
  background-color:$grey-light;
}

.table-primary thead th {
  border-color: $primary;
  border: 1px solid $primary;
  background: $primary;
  color: #fff;
  padding: 10px;
}

.table-bordered thead th {
  border-color: $grey-middle;
  border: 1px solid $grey-middle;
  padding: 10px;
}
.table-secondary thead th {
  border-color: $withe;
  border: 3px solid $withe;
  padding: 10px;
}
.table-striped thead th {
  border-color: $withe;
  border: 3px solid $withe;
  padding: 10px;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button { display: none; }
input[type=date]::-moz-inner-spin-button { display: none; }
input[type="date"]::-moz-clear-button { display: none; }
input[type=date]::-moz-clear { display: none; }
.content-block {width:100%;max-width:1720px; margin:0 auto;
  .container {
    width: 1200px;
    max-width: 1200px;
    margin:0px auto;
    padding:0px;
    position:relative;
  }

}
.content-part {position:relative; float:left; width:100%; margin-top:60px; }
.content-part-morespace {margin-top:120px; margin-bottom:60px; }
.content-part.no-space {margin-top:0px;}
.content-part.ctype-mugce_marker {margin-top:0px; position:relative;}
p {margin-bottom:12px;}
p:last-child {margin-bottom:0px;}
a {color:$black; text-decoration:none;}
a:hover {color:#333333; text-decoration:none;}
img {border:0px; max-width:100%; height:auto;}
.trans {opacity:0;}
.animateAll {
  -webkit-transition: all 350ms;
  -moz-transition:all 350ms;
  -o-transition:all 350ms;
  transition: all 350ms;
}
.animateAll-s  {
  -webkit-transition: all 850ms;
  -moz-transition:all 850ms;
  -o-transition:all 850ms;
  transition: all 850ms;
}
.blend {
  mix-blend-mode: multiply;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 0.8;
  }
}

.blend-full {position:absolute; width:100%; height:100%; left:0px; top:0px;}
.logoimg {
  width: 127px;
  display: block;
  margin: -12px 0 0 0;
}
.h1subline {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  font-weight:600;
}
.rowborder-bottom {border-bottom:2px solid $black; padding-bottom:5px;}
.ce-text-media-teaser .text.rowborder-bottom { padding-bottom:20px;}
.rowborder-top {border-top:2px solid $black;}
.rowborder-toplight {border-top:0.75px solid $grey;}
.rowborder-bottomlight {border-bottom:0.75px solid $grey;}

.section-name {
  position: absolute;
  left: 0px;
  top: 10px;
}

.section-name-Inner {width:150px; text-align:center; position:relative; color:$grey ;}
.section-line-top {
  display:block;
   position:absolute;
   width:1px;
   background:$grey;
  height: 220px;
   bottom:100%;
   left:50%;  marggin:0 0 5px -0.5px;
 }
.section-line-bottom {
  display:block;
  position:absolute;
  width:1px;
  background:$grey;
  height:90px;
  top:100%;
  left:50%;  marggin:5px 0 0px -0.5px;
}

.opacity0 {opacity:0}
.morelink-arrow {
  display: block;
  float: right;
  margin: 0 0 0 20px;
  right: 0px;
  position: relative;
}
a:hover .morelink-arrow {
  right: -10px;
}
.box-balken {
  width: 100%;
  position: absolute;
  left: 0.85%;
  z-index: 99;
  pointer-events: none;
  text-align: center;
  top: 0px;
  margin: -102px 0 0 0;

  img {
    position: relative;
    width: 38px;
    margin: 0 auto;
    display: inline;
    height: 80px;
  }

}

.ce-box-balken {
  width: 100%;
  position: relative;
  left: 0.85%;
  z-index: 99;
  pointer-events: none;
  text-align: center;
  top: 0px;
  margin: 60px 0 0 0;

  img {
    position: relative;
    width: 38px;
    margin: 0 auto;
    display: inline;
    height: 80px;
  }
}

.content-part.box-balken-down {
  .ce-box-balken {
    margin-top: 0px;
    position: relative;
    top: 20px;
    height: 0px;
  }
}
.content-part.box-balken-up {
  .ce-box-balken {
    margin-top: 0;
    position: relative;
    margin-bottom: 0px;
    height: 0px;
    top: -40px;
  }
}




.bgbox {
  position: absolute;
  width: 75%;
  height: calc(100% + 120px);
  top: -60px;
  z-index: -1;
}

.bgbox.bg-grey-light::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  background:$grey-light ;
}
.standardshadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.10);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.10);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.10);
}

.button {
  border: 1px solid $black;
  color:$black ;
  padding: 10px 20px;
  margin: 50px 0 -20px 0;
  display: inline-block;
  background-color: $withe;
  font-weight: bold;
}

.button:hover {
  border: 1px solid $grey-darker;
  color:$withe ;
  background-color: $grey-darker;

}

.footer-noborder .rowborder-toplight {
  border-top: 0px solid #cccccc;
}


.standardCE5.lowspace {
  .row {
    width: 66%;
  }
}
.standardCE6.lowspace {
  .row {
    width: 66%;
  }
  .content-part {
    margin: 21px 0 0px 0;
  }

}
.standardCE7.lowspace {
  .row {
    width: 66%;
  }
  .content-part {
    margin: 21px 0 0px 0;
  }
}

.page-event {
  .standardCE6 {

      margin-top: 130px;

  }

}
.headline.rowborder-bottom {
  margin-bottom: 10px;
}
.ce-accordion-box .headline.rowborder-bottom {
  margin-bottom: 0px;
  h2, .h2 {
    margin: 0px 0 10px 0;
  }
}

.ctype-mugce_text.standard .rowborder-bottom {
  padding-bottom: 15px;
}




.ce-linklist .headline {
  margin-bottom: 30px;
}

.morelink {
  &.morelink-arrow-right {
    padding: 0 33px 0 0;
    position: relative;
    display: block;

    &::after {
      content: "";
      display: block;
      float: left;
      position: absolute;
      width: 13px;
      height: 24px;
      background-image: url("#{$icon-path}/icon-arrow-black-right.svg");
      background-repeat: no-repeat;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      -webkit-transition: all 350ms;
      -moz-transition: all 350ms;
      -o-transition: all 350ms;
      transition: all 350ms;
    }

    &:hover::after {
      margin: 0 -10px 0 0;
    }
  }
}
