.ce-text-columns {
  margin: 80px 0;

.text-leadin {
    margin: 15px 0 0 0;
  }
  .morelink {
    float: right;
    margin: 10px 0 0 0;

  }

}

.lowspace2 .ce-text-columns {
  margin: 160px 0 80px 0;
}



.lowspacenewsbar .ce-text-columns  {
margin: 40px 0 80px 0;
.row {
  width: 66%;
}
}