<div class="row content-block content-header-default">
  <div class="ce-homeslider">
    <div class="ce-header-slider trans">
      <div class="cycle-slideshow">
        <div class="ce-homesliderelement">
          <div class="ce-header-slider-element">
            <div class="box-sliderbgbalken"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/balken-green.png')}" alt="" class="sliderbgbalken blend animateAll-s"></div>
            <f:if condition="{image}">
              <f:image image="{image.0}" class="slider-img" width="1720c" height="550c" />
            </f:if>
            <div class="row content-block contenblock-newsteaser contenblock-newsteaser0-blende">
              <div class="content-part">
                <div class="container ">
                  <div class="col">
                    <div class="info-box blend  bg-green-dark">
                      <div class="quicklinks-box ">
                        <div class="news-box-inner">
                          <div class="quicklinks-items animateAll">
                            <div class="news-item entry-{idx}">
                              <div class="blend blend-full bg-green-dark"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



