<div id="c{data.uid}" class="row content-block content-header-default">
  <div class="ce-homeslider">
    <div class="ce-header-slider trans">
      <div class="cycle-slideshow">
        <div class="ce-homesliderelement">
          <div class="ce-header-slider-element">
            <div class="box-sliderbgbalken"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/balken-green.svg')}" alt="" class="sliderbgbalken blend animateAll-s"></div>
            <f:if condition="{image}">
              <f:image image="{image.0}" class="slider-img" width="1720c" height="550c" />
            </f:if>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

