<div id="c{data.uid}" class="row content-block">
    <div class="content-part ce-link-tile">
        <f:if condition="{data.subheader}">
            <div class="section-name text-bold trans">
                <div class="section-name-Inner"><span class="section-line-top"></span>{data.subheader}<span class="section-line-bottom"></span></div>
            </div>
        </f:if>
        <div class="container">
            <div class="row ">
                <f:if condition="{data.mugce_show_marker}">
                    <div class="box-balken blend  <f:if condition='{data.header}'>box-balken-hl</f:if>">
                        <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/balken-green-dark.png')}" alt="" class="blend">
                    </div>
                </f:if>
                <f:if condition="{data.header}">
                     <div class="headline text-center trans">
                      <h2 class="text-bold hl-big hl-big hl-ce-link-tile">{data.header -> f:format.nl2br()}</h2>
                    </div>
                </f:if>
                <f:for each="{elements}" as="element">
                    <v:content.render contentUids="{0: element.data.uid}" limit="1" render="1" as="content">
                        {content.0 -> f:format.raw()}
                    </v:content.render>
                </f:for>
            </div>
            <div class="bgbox bg-grey-light"></div>
        </div>
    </div>
</div>

