<div id="c{data.uid}" class="row content-block ce-newsletter ">
  <div class="content-part ">
    <div class="container">
      <div class="row  row-nlform rowborder-top">
        <div class="box-balken blend"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/balken-green-dark.svg')}" alt="" class="blend"></div>
        <f:if condition="{data.header} || {data.bodytext}">
          <div class="headline trans">
            <h2 class="hl-big">{data.header -> f:format.nl2br()}</h2>
          </div>
        </f:if>
        <div class="newsletter-formbox">
          {v:content.render(contentUids:{0: newsletterFormIdDe, 1: newsletterFormIdEn}) -> f:format.raw()}
        </div>
      </div>
    </div>
  </div>
</div>

