<div id="c{data.uid}" class="row content-block
<f:if condition="{data.mugce_display_type} == 0">bg-grey-light </f:if>
<f:if condition="{data.mugce_show_marker}"> addmarkerspace </f:if>
ce-quote">
<div class="content-part ">
  <f:if condition="{data.mugce_show_marker}">
    <div class="box-balken blend"><img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/balken-green-dark.png')}" alt="" class="blend"></div>
  </f:if>
  <f:if condition="{data.header} || {data.bodytext}">
    <div class="headline text-center trans">
      <h2 class="text-bold hl-big">{data.header -> f:format.nl2br()}</h2>
    </div>
  </f:if>
  <div class="container">
    <div class="row">
      <div class="col  col-75 trans">
        <f:if condition="{data.mugce_add_effect}"><div class="greygradiantlayer"></div></f:if>


        <f:image image="{image.0}" class="img img-ce-text-media" width="870c" height="" />
      </div>
      <div class="col col-05 "> </div>
      <div class="col col-35 trans">
        <div class="text quote-text rowborder-bottom">
          {data.bodytext -> f:format.html()}
          <f:if condition="{data.mugce_subheader}">
            <div class="text quote-by">
              {data.mugce_subheader -> f:format.html()}
            </div>
          </f:if>
        </div>
        <f:if condition="{data.header_link}">
          <f:link.typolink parameter="{data.header_link}" class="morelink text-bold animateAll">
            {f:if(condition: '{data.mugce_link_label}', then: '{data.mugce_link_label}', else: '{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}')}
            <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/css/img/icon-arrow-black-right.svg')}" alt="" class="animateAll morelink-arrow">
          </f:link.typolink>
        </f:if>
      </div>
    </div>
    <f:if condition="{data.mugce_link}">
      <div class="row bottombutton-row">
        <div class="col text-center mt-auto trans bottom">
          <f:link.typolink parameter="{data.mugce_link}" class="button animateAll">
            {f:if(condition: '{data.mugce_link_label_2}', then: '{data.mugce_link_label_2}', else: '{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}')}
          </f:link.typolink>
        </div>
      </div>
    </f:if>
  </div>
</div>
</div>

