<div id="c{data.uid}" class="row content-block">
  <div class="content-part ce-text-columns ce-text-media">
    <f:if condition="{data.subheader}">
      <div class="section-name text-bold trans">
        <div class="section-name-Inner"><span class="section-line-top"></span>{data.subheader}<span class="section-line-bottom"></span></div>
      </div>
    </f:if>
    <div class="container">
      <div class="row">
        <div class="col col-55 trans">

            <f:image image="{image.0}" class="img img-ce-text-media" width="570c" height="380c" />

          </div>
        <div class="col col-05 "> </div>
        <div class="col col-55 trans">
          <div class="headline rowborder-bottom">
          <h2 class="text-bold">{data.header -> f:format.nl2br()}</h2>
          </div>
          <div class="text text-leadin">
            {data.bodytext -> f:format.html()}
          </div>
          <f:if condition="{data.header_link}">
            <f:link.typolink parameter="{data.header_link}" class="morelink text-bold animateAll">
              {f:if(condition: '{data.mugce_link_label}', then: '{data.mugce_link_label}', else: '{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}')}
              <img src="{f:uri.image(src:'EXT:mug_ce/Resources/Public/Images/icon-arrow-black-right.svg')}" alt="" class="animateAll morelink-arrow">
            </f:link.typolink>
          </f:if>
        </div>
      </div>
      <div class="row">
        <f:if condition="{data.mugce_link}">
          <div class="col text-center mt-auto trans bottom">
            <f:link.typolink parameter="{data.mugce_link}" class="button animateAll">
              {f:if(condition: '{data.mugce_link_label_2}', then: '{data.mugce_link_label_2}', else: '{f:translate(key: "LLL:EXT:mug_ce/Resources/Private/Language/Frontend.xlf:moreLabel", default: "Mehr")}')}
            </f:link.typolink>
          </div>
        </f:if>
      </div>
    </div>
  </div>
</div>



